Repository SAONetwork/sao-consensus, changes with the labels that .github/labeler.yml gives for each.
All labels: C:x/sao, C:x/storage, C:x/order, C:x/earn, Type: Build, Type: CI, C:CLI, Type: ADR

fix complete reset shard issue.
  x/sao/keeper/msg_server_complete.go
Labels: none

add debug log
  x/order/keeper/order_management.go
  x/sao/keeper/msg_server_store.go
Labels: C:x/order

use apphash as random seed
  x/node/keeper/reputation.go
Labels: none

refactor metadata, move new meta from MsgComplete to MsgStore
  docs/static/openapi.yml
  proto/sao/model/metadata.proto
  proto/sao/order/metadata.proto
  proto/sao/order/order.proto
  x/model/keeper/data_management.go
  x/model/types/constants.go
  x/model/types/errors.go
  x/model/types/metadata.pb.go
  x/order/keeper/grpc_query_order.go
  x/order/types/order.pb.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_terminate.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

fix
  x/market/keeper/pool_management.go
  x/model/keeper/data_management.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_migrate.go
Labels: none

order status issue
  x/sao/keeper/msg_server_store.go
Labels: none

add order finish event
  x/model/keeper/data_management.go
  x/order/types/keys.go
Labels: C:x/order

fix key did generate
  x/did/keeper/msg_server_update_payment_address.go
Labels: none

cleanup
  x/sao/keeper/msg_server_cancel.go
Labels: none

duration issue
  x/sao/keeper/msg_server_renew.go
Labels: none

order expire issue
  x/model/keeper/data_management.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/expected_keepers.go
Labels: none

rollback meta if order is expired/canceled
  x/model/keeper/data_management.go
  x/model/keeper/data_test.go
  x/order/keeper/order_management.go
Labels: C:x/order

chore: add changelog generator in precommit hook
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  .githooks/pre-commit
  CHANGELOG.md
Labels: none

fix ut
  testutil/keeper/market.go
  testutil/keeper/node.go
  x/sao/types/expected_keepers.go
Labels: none

chore: fix changelog git url issue
  .chglog/config.yml
  CHANGELOG.md
Labels: none

chore: fix changelog github url mispell
  .chglog/config.yml
  CHANGELOG.md
Labels: none

fix compile error
  x/sao/keeper/msg_server_cancel.go
Labels: none

revert creator check in store/renew
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
Labels: none

refactor: refactor order / reward / metadata
  CHANGELOG.md
Labels: none

test: remove reset_store
  proto/sao/did/tx.proto
  x/did/client/cli/tx.go
  x/did/client/cli/tx_reset_store.go
  x/did/keeper/msg_server_reset_store.go
  x/did/module_simulation.go
  x/did/simulation/reset_store.go
  x/did/types/codec.go
  x/did/types/message_reset_store.go
  x/did/types/message_reset_store_test.go
  x/did/types/tx.pb.go
Labels: C:CLI

fix: use block height to calculate reward
  x/market/keeper/pool_management.go
  x/model/keeper/data_management.go
  x/node/keeper/shard_pledge_management.go
  x/order/keeper/order_management.go
Labels: C:x/order

fix: remove reset_store (#25)
  proto/sao/did/tx.proto
  x/did/client/cli/tx.go
  x/did/client/cli/tx_reset_store.go
  x/did/keeper/msg_server_reset_store.go
  x/did/module_simulation.go
  x/did/simulation/reset_store.go
  x/did/types/codec.go
  x/did/types/message_reset_store.go
  x/did/types/message_reset_store_test.go
  x/did/types/tx.pb.go
Labels: C:CLI

use block height to calculate reward
  CHANGELOG.md
  x/market/keeper/pool_management.go
  x/model/keeper/data_management.go
  x/node/keeper/shard_pledge_management.go
  x/order/keeper/order_management.go
Labels: C:x/order

fix: use block height to calculate reward (#27)
  CHANGELOG.md
  x/market/keeper/pool_management.go
  x/model/keeper/data_management.go
  x/node/keeper/shard_pledge_management.go
  x/order/keeper/order_management.go
Labels: C:x/order

refactor pool_management
  CHANGELOG.md
  app/app.go
  x/market/keeper/pool_management.go
  x/node/keeper/keeper.go
  x/node/keeper/msg_server_claim_reward.go
  x/node/types/expected_keepers.go
Labels: none

refactor: pool_management (#28)
  CHANGELOG.md
  app/app.go
  x/market/keeper/pool_management.go
  x/node/keeper/keeper.go
  x/node/keeper/msg_server_claim_reward.go
  x/node/types/expected_keepers.go
Labels: none

fix shard pledge reward debt
  CHANGELOG.md
  x/node/keeper/shard_pledge_management.go
Labels: none

fix: shard pledge reward debt (#29)
  CHANGELOG.md
  x/node/keeper/shard_pledge_management.go
Labels: none

add worker migrate logic
  CHANGELOG.md
  x/sao/keeper/msg_server_complete.go
  x/sao/types/expected_keepers.go
Labels: none

fix: add worker migrate logic (#30)
  CHANGELOG.md
  x/sao/keeper/msg_server_complete.go
  x/sao/types/expected_keepers.go
Labels: none

uniform order status
  CHANGELOG.md
  x/order/types/constants.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_reject.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/constants.go
Labels: C:x/order

allow migrating order handle MsgComplete
  x/sao/keeper/msg_server_complete.go
Labels: none

fill migrate shard sp and size
  CHANGELOG.md
  x/order/keeper/shard_management.go
Labels: C:x/order

refactor random sp
  CHANGELOG.md
  x/node/keeper/reputation.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/expected_keepers.go
Labels: none

fix: fill migrate shard sp and size (#32)
  CHANGELOG.md
  x/order/keeper/shard_management.go
Labels: C:x/order

fix: add ignore list in random sp for migration and resize (#33)
  x/node/keeper/reputation.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/expected_keepers.go
Labels: none

refactor: uniform order status (#31)
  x/order/types/constants.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_reject.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/constants.go
Labels: C:x/order

refactor data management
  CHANGELOG.md
  app/app.go
  docs/static/openapi.yml
  x/model/keeper/data_management.go
  x/model/keeper/keeper.go
  x/model/types/expected_keepers.go
  x/sao/keeper/msg_server_terminate.go
  x/sao/types/expected_keepers.go
Labels: none

refactor: data management (#35)
  CHANGELOG.md
  app/app.go
  docs/static/openapi.yml
  x/model/keeper/data_management.go
  x/model/keeper/keeper.go
  x/model/types/expected_keepers.go
  x/sao/keeper/msg_server_terminate.go
  x/sao/types/expected_keepers.go
Labels: none

to remove order instead of set cancel/terminate status
  CHANGELOG.md
  x/model/keeper/data_management.go
  x/model/types/expected_keepers.go
  x/order/keeper/order_management.go
  x/order/types/errors.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

.github/labeler.yml:

"C:x/sao":
  - x/upgrade/**/*
"C:x/storage":
  - x/storage/**/*
"C:x/order":
  - x/order/**/*
"C:x/earn":
  - x/earn/**/*
"Type: Build":
  - Makefile
  - Dockerfile
"Type: CI":
  - .github/**/*.yml
  - .golangci.yml
"C:CLI":
  - x/*/client/**/*
"Type: ADR":
  - docs/architecture/**/*
