Repository SAONetwork/sao-consensus, changes with the labels that .github/labeler.yml gives for each.
All labels: C:x/sao, C:x/storage, C:x/order, C:x/earn, Type: Build, Type: CI, C:CLI, Type: ADR

interest debt
  go.mod
  go.sum
  proto/sao/loan/loan_pool.proto
  proto/sao/node/pledge.proto
  x/loan/abci.go
  x/loan/keeper/credit_test.go
  x/loan/keeper/loan_management.go
  x/loan/keeper/loan_management_test.go
  x/loan/keeper/loan_pool_test.go
  x/loan/module.go
  x/loan/types/loan_pool.pb.go
  x/node/keeper/msg_server_claim_reward.go
  x/node/keeper/msg_server_set_loan_strategy.go
  x/node/keeper/shard_pledge_management.go
  x/node/types/expected_keepers.go
  x/node/types/pledge.pb.go
Labels: none

add integration
  docs/static/openapi.yml
  go.mod
  proto/sao/node/query.proto
  proto/sao/sao/tx.proto
  x/node/client/cli/query_all_faults.go
  x/node/keeper/grpc_query_all_faults.go
  x/node/types/query.pb.go
  x/sao/keeper/msg_server_recover_faults.go
  x/sao/keeper/msg_server_report_faults.go
Labels: C:CLI

fix faultMeta.Reporter value issue
  x/node/keeper/fishing_reward.go
  x/node/types/keys.go
  x/sao/keeper/msg_server_recover_faults.go
  x/sao/keeper/msg_server_report_faults.go
  x/sao/types/expected_keepers.go
Labels: none

fix default params, query credit return amount
  config.yml
  docs/static/openapi.yml
  proto/sao/loan/query.proto
  x/loan/keeper/grpc_query_credit.go
  x/loan/types/params.go
  x/loan/types/query.pb.go
Labels: none

add migrations
  app/app.go
  app/upgrades/v0_1_6/constants.go
  app/upgrades/v0_1_6/upgrades.go
  x/node/keeper/migrations.go
  x/node/migrations/v3/types/pledge.pb.go
  x/node/migrations/v4/migrations.go
  x/node/module.go
Labels: none

feat: add storage node role - super to accept order with high priority
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/node/node.proto
  proto/sao/node/tx.proto
  x/node/keeper/msg_server_create.go
  x/node/keeper/node.go
  x/node/keeper/reputation.go
  x/node/types/errors.go
  x/node/types/expected_keepers.go
  x/node/types/key_node_round.go
  x/node/types/node.pb.go
  x/node/types/tx.pb.go
  x/node/types/types.go
Labels: none

feat: pledge_debt, refactor node module funcs (#51)
  x/sao/keeper/expire_management.go
  x/sao/keeper/msg_server_complete.go
Labels: none

add upgrade v0.1.6
  app/app.go
  app/upgrades/v0_1_6/constants.go
  app/upgrades/v0_1_6/upgrades.go
  go.mod
  go.sum
  proto/sao/node/params.proto
  proto/sao/node/sp_params.proto
  proto/sao/node/tx.proto
  x/node/keeper/hooks.go
  x/node/keeper/msg_server_create.go
  x/node/keeper/params.go
  x/node/keeper/super.go
  x/node/types/expected_keepers.go
  x/node/types/params.go
  x/node/types/params.pb.go
  x/node/types/sp_params.pb.go
  x/node/types/tx.pb.go
Labels: none

add upgrade v0.1.6
  x/node/keeper/node.go
  x/node/module.go
  x/node/types/types.go
Labels: none

remove EndBlock
  go.mod
  go.sum
Labels: none

clean code
  x/node/keeper/super.go
  x/sao/keeper/expire_management.go
  x/sao/keeper/msg_server_complete.go
Labels: none

feat: allow sp to declare delegation with validator for higher order priority (#54)
  app/app.go
  app/upgrades/v0_1_6/constants.go
  app/upgrades/v0_1_6/upgrades.go
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/node/node.proto
  proto/sao/node/params.proto
  proto/sao/node/sp_params.proto
  x/node/keeper/hooks.go
  x/node/keeper/msg_server_create.go
  x/node/keeper/node.go
  x/node/keeper/params.go
  x/node/keeper/reputation.go
  x/node/keeper/super.go
  x/node/module.go
  x/node/types/errors.go
  x/node/types/expected_keepers.go
  x/node/types/key_node_round.go
  x/node/types/node.pb.go
  x/node/types/params.go
  x/node/types/params.pb.go
  x/node/types/sp_params.pb.go
  x/node/types/types.go
  x/sao/keeper/msg_server_complete.go
Labels: none

fix
  x/node/keeper/shard_pledge_management.go
Labels: none

add vstorage
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/node/pledge.proto
  proto/sao/node/query.proto
  proto/sao/node/tx.proto
  x/node/client/cli/tx.go
  x/node/client/cli/tx_add_vstorage.go
  x/node/client/cli/tx_remove_vstorage.go
  x/node/genesis_test.go
  x/node/keeper/migrations.go
  x/node/keeper/msg_server_add_vstorage.go
  x/node/keeper/msg_server_remove_vstorage.go
  x/node/keeper/shard_pledge_management.go
  x/node/migrations/v3/types/pledge.pb.go
  x/node/migrations/v4/migrations.go
  x/node/module.go
  x/node/module_simulation.go
  x/node/simulation/add_vstorage.go
  x/node/simulation/remove_vstorage.go
  x/node/types/codec.go
  x/node/types/errors.go
  x/node/types/genesis_test.go
  x/node/types/message_add_vstorage.go
  x/node/types/message_add_vstorage_test.go
  x/node/types/message_remove_vstorage.go
  x/node/types/message_remove_vstorage_test.go
  x/node/types/tx.pb.go
  x/sao/keeper/msg_server_renew.go
Labels: C:CLI

fix claim reward bug
  x/node/keeper/msg_server_add_vstorage.go
  x/node/keeper/msg_server_remove_vstorage.go
  x/node/keeper/shard_pledge_management.go
Labels: none

fix renew extra pledge
  x/sao/keeper/msg_server_renew.go
  x/sao/types/expected_keepers.go
Labels: none

fix shard pledge
  proto/sao/node/sp_params.proto
  x/node/keeper/migrations.go
  x/node/keeper/shard_pledge_management.go
  x/node/migrations/v4/migrations.go
  x/order/module.go
Labels: C:x/order

add filter available sp
  x/node/keeper/node.go
  x/node/keeper/reputation.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/timeout_management.go
  x/sao/types/expected_keepers.go
Labels: none

feat: add total storage and used storage in pledge (#58)
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/node/pledge.proto
  proto/sao/node/query.proto
  proto/sao/node/sp_params.proto
  proto/sao/node/tx.proto
  x/node/client/cli/tx.go
  x/node/client/cli/tx_add_vstorage.go
  x/node/client/cli/tx_remove_vstorage.go
  x/node/genesis_test.go
  x/node/keeper/migrations.go
  x/node/keeper/msg_server_add_vstorage.go
  x/node/keeper/msg_server_remove_vstorage.go
  x/node/keeper/node.go
  x/node/keeper/reputation.go
  x/node/keeper/shard_pledge_management.go
  x/node/migrations/v3/types/pledge.pb.go
  x/node/migrations/v4/migrations.go
  x/node/module.go
  x/node/module_simulation.go
  x/node/simulation/add_vstorage.go
  x/node/simulation/remove_vstorage.go
  x/node/types/codec.go
  x/node/types/errors.go
  x/node/types/genesis_test.go
  x/node/types/message_add_vstorage.go
  x/node/types/message_add_vstorage_test.go
  x/node/types/message_remove_vstorage.go
  x/node/types/message_remove_vstorage_test.go
  x/node/types/tx.pb.go
  x/order/module.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/timeout_management.go
  x/sao/types/expected_keepers.go
Labels: C:x/order, C:CLI

migrations
  x/node/migrations/v3/migrations.go
Labels: none

migrations
  x/node/migrations/v3/migrations.go
Labels: none

fix vstorage pledge amount
  CHANGELOG.md
  x/node/keeper/msg_server_add_vstorage.go
  x/node/keeper/msg_server_remove_vstorage.go
Labels: none

upate penalty function
  x/node/abci.go
  x/node/keeper/node.go
  x/node/module.go
Labels: none

node migration v4
  x/node/keeper/migrations.go
  x/node/migrations/v3/migrations.go
  x/node/migrations/v4/migrations.go
Labels: none

fix vstorage pledge
  CHANGELOG.md
  x/node/keeper/msg_server_add_vstorage.go
  x/node/keeper/msg_server_remove_vstorage.go
  x/node/keeper/shard_pledge_management.go
  x/node/migrations/v4/migrations.go
Labels: none

refactor vstorage pledge
  x/node/keeper/msg_server_add_vstorage.go
  x/node/keeper/msg_server_remove_vstorage.go
Labels: none

add shard pledge
  go.mod
  go.sum
  proto/sao/node/pledge.proto
  x/node/keeper/msg_server_add_vstorage.go
  x/node/keeper/shard_pledge_management.go
  x/node/migrations/v4/migrations.go
  x/node/types/pledge.pb.go
Labels: none

node migration v4
  x/node/keeper/migrations.go
  x/node/migrations/v3/migrations.go
  x/node/migrations/v4/migrations.go
Labels: none

fix: add shard pledge field to record order pledge (#60)
  CHANGELOG.md
  proto/sao/node/pledge.proto
  x/node/keeper/msg_server_add_vstorage.go
  x/node/keeper/msg_server_remove_vstorage.go
  x/node/keeper/shard_pledge_management.go
  x/node/migrations/v4/migrations.go
  x/node/types/pledge.pb.go
Labels: none

fix default shard pledge
  x/node/keeper/msg_server_add_vstorage.go
Labels: none

hotfix
  x/node/migrations/v4/migrations.go
Labels: none

hotfix: node v4 migration (#62)
  x/node/migrations/v4/migrations.go
Labels: none

disable loan pledge until baseline is reached
  x/node/keeper/msg_server_add_vstorage.go
  x/node/keeper/shard_pledge_management.go
  x/sao/keeper/msg_server_renew.go
  x/sao/types/expected_keepers.go
Labels: none

query available sao from loan pool
  CHANGELOG.md
  docs/static/openapi.yml
  proto/sao/loan/query.proto
  x/loan/client/cli/query.go
  x/loan/client/cli/query_available.go
  x/loan/client/cli/tx.go
  x/loan/client/cli/tx_deposit.go
  x/loan/client/cli/tx_withdraw.go
  x/loan/keeper/grpc_query_available.go
  x/loan/keeper/loan_management.go
  x/loan/module_simulation.go
  x/loan/types/codec.go
  x/loan/types/message_deposit.go
  x/loan/types/message_deposit_test.go
  x/loan/types/message_withdraw.go
  x/loan/types/message_withdraw_test.go
  x/loan/types/query.pb.go
  x/loan/types/query.pb.gw.go
  x/node/keeper/msg_server_add_vstorage.go
Labels: C:CLI

v0.1.7 migiration
  app/app.go
  app/upgrades/v0_1_7/constants.go
  app/upgrades/v0_1_7/upgrades.go
  x/loan/keeper/loan_management.go
  x/node/keeper/migrations.go
  x/node/migrations/v4/types/pledge.pb.go
  x/node/migrations/v5/migrations.go
  x/node/module.go
Labels: none

refactor meta status
  CHANGELOG.md
  app/app.go
  app/upgrades/v0_1_7/constants.go
  app/upgrades/v0_1_7/upgrades.go
  docs/static/openapi.yml
  x/market/keeper/pool_management.go
  x/model/keeper/data_management.go
  x/order/keeper/keeper.go
  x/order/keeper/migrations.go
  x/order/keeper/shard_management.go
  x/order/migrations/v4/migrations.go
  x/order/module.go
  x/order/types/constants.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/timeout_management.go
  x/sao/types/errors.go
Labels: C:x/order

fix migrate
  x/sao/keeper/msg_server_complete.go
Labels: none

support public load
  CHANGELOG.md
  config.yml
  docs/static/openapi.yml
  proto/sao/did/params.proto
  x/did/keeper/did_management.go
  x/did/keeper/params.go
  x/did/types/params.go
  x/did/types/params.pb.go
  x/sao/keeper/grpc_query_metadata.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_terminate.go
  x/sao/keeper/msg_server_updata_permission.go
  x/sao/keeper/verify.go
  x/sao/types/expected_keepers.go
Labels: none

refactor: change metadata and order to completed state when one shard in the order is completed (#64)
  CHANGELOG.md
  app/app.go
  app/upgrades/v0_1_7/constants.go
  app/upgrades/v0_1_7/upgrades.go
  docs/static/openapi.yml
  x/market/keeper/pool_management.go
  x/model/keeper/data_management.go
  x/order/keeper/keeper.go
  x/order/keeper/migrations.go
  x/order/keeper/shard_management.go
  x/order/migrations/v4/migrations.go
  x/order/module.go
  x/order/types/constants.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/timeout_management.go
  x/sao/types/errors.go
Labels: C:x/order

add fishmen and builtin did in config.toml
  config.yml
Labels: none

.github/labeler.yml:

"C:x/sao":
  - x/upgrade/**/*
"C:x/storage":
  - x/storage/**/*
"C:x/order":
  - x/order/**/*
"C:x/earn":
  - x/earn/**/*
"Type: Build":
  - Makefile
  - Dockerfile
"Type: CI":
  - .github/**/*.yml
  - .golangci.yml
"C:CLI":
  - x/*/client/**/*
"Type: ADR":
  - docs/architecture/**/*
