Repository SAONetwork/sao-consensus, changes with the labels that .github/labeler.yml gives for each.
All labels: C:x/sao, C:x/storage, C:x/order, C:x/earn, Type: Build, Type: CI, C:CLI, Type: ADR

order slash
  proto/sao/order/shard.proto
  x/node/keeper/msg_server_claim_reward.go
  x/node/keeper/shard_pledge_management.go
  x/order/types/shard.pb.go
  x/sao/keeper/msg_server_complete.go
Labels: C:x/order

order slash
  proto/sao/order/shard.proto
  x/node/keeper/msg_server_claim_reward.go
  x/node/keeper/shard_pledge_management.go
  x/order/types/shard.pb.go
  x/sao/keeper/msg_server_complete.go
Labels: C:x/order

change node param
  config.yml
  docs/static/openapi.yml
  go.mod
  go.sum
  vue/src/store/generated/index.ts
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/node/types/params.go
Labels: none

change node param
  config.yml
  docs/static/openapi.yml
  go.mod
  go.sum
  vue/src/store/generated/index.ts
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/node/types/params.go
Labels: none

add UpdataPermission message
  x/model/keeper/data_management.go
  x/model/types/errors.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_updata_permission.go
  x/sao/types/errors.go
  x/sao/types/expected_keepers.go
Labels: none

add UpdataPermission message
  x/model/keeper/data_management.go
  x/model/types/errors.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_updata_permission.go
  x/sao/types/errors.go
  x/sao/types/expected_keepers.go
Labels: none

add did read/write permission check.
  go.mod
  go.sum
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_updata_permission.go
Labels: none

add did read/write permission check.
  go.mod
  go.sum
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_updata_permission.go
Labels: none

fix bug
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/did/keeper/did_management.go
  x/node/abci.go
  x/node/keeper/grpc_query_pledge.go
  x/node/keeper/shard_pledge_management.go
  x/node/types/genesis.go
Labels: none

fix bug
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/did/keeper/did_management.go
  x/node/abci.go
  x/node/keeper/grpc_query_pledge.go
  x/node/keeper/shard_pledge_management.go
  x/node/types/genesis.go
Labels: none

support key did to update payment address
  docs/static/openapi.yml
  proto/sao/did/tx.proto
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/did/keeper/did_binding_proof.go
  x/did/keeper/did_binding_proof_test.go
  x/did/keeper/grpc_query_did_binding_proof.go
  x/did/keeper/grpc_query_did_binding_proof_test.go
  x/did/keeper/msg_server_update_payment_address.go
  x/did/types/errors.go
  x/did/types/tx.pb.go
Labels: none

support key did to update payment address
  docs/static/openapi.yml
  proto/sao/did/tx.proto
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/did/keeper/did_binding_proof.go
  x/did/keeper/did_binding_proof_test.go
  x/did/keeper/grpc_query_did_binding_proof.go
  x/did/keeper/grpc_query_did_binding_proof_test.go
  x/did/keeper/msg_server_update_payment_address.go
  x/did/types/errors.go
  x/did/types/tx.pb.go
Labels: none

fix
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/did/keeper/msg_server_binding.go
  x/did/keeper/msg_server_update_payment_address.go
  x/did/types/errors.go
Labels: none

fix
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/did/keeper/msg_server_binding.go
  x/did/keeper/msg_server_update_payment_address.go
  x/did/types/errors.go
Labels: none

add query model permission check
  docs/static/openapi.yml
  go.mod
  proto/sao/sao/metadata.proto
  proto/sao/sao/query.proto
  proto/sao/sao/query_proposal.proto
  proto/sao/sao/shard_meta.proto
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/sao/client/cli/query.go
  x/sao/client/cli/query_metadata.go
  x/sao/keeper/grpc_query_metadata.go
  x/sao/types/expected_keepers.go
  x/sao/types/metadata.pb.go
  x/sao/types/query.pb.go
  x/sao/types/query.pb.gw.go
  x/sao/types/query_proposal.pb.go
  x/sao/types/shard_meta.pb.go
Labels: C:CLI

add query model permission check
  docs/static/openapi.yml
  go.mod
  proto/sao/sao/metadata.proto
  proto/sao/sao/query.proto
  proto/sao/sao/query_proposal.proto
  proto/sao/sao/shard_meta.proto
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/sao/client/cli/query.go
  x/sao/client/cli/query_metadata.go
  x/sao/keeper/grpc_query_metadata.go
  x/sao/types/expected_keepers.go
  x/sao/types/metadata.pb.go
  x/sao/types/query.pb.go
  x/sao/types/query.pb.gw.go
  x/sao/types/query_proposal.pb.go
  x/sao/types/shard_meta.pb.go
Labels: C:CLI

fix
  x/did/keeper/msg_server_binding.go
Labels: none

fix
  x/did/keeper/msg_server_binding.go
Labels: none

clean expired data
  docs/static/openapi.yml
  proto/sao/model/expired_data.proto
  proto/sao/model/genesis.proto
  proto/sao/model/query.proto
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.model/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/did/keeper/did_management.go
  x/model/abic.go
  x/model/client/cli/query.go
  x/model/client/cli/query_expired_data.go
  x/model/client/cli/query_expired_data_test.go
  x/model/genesis.go
  x/model/genesis_test.go
  x/model/keeper/data_management.go
  x/model/keeper/expired_data.go
  x/model/keeper/expired_data_test.go
  x/model/keeper/grpc_query_expired_data.go
  x/model/keeper/grpc_query_expired_data_test.go
  x/model/module.go
  x/model/types/expired_data.pb.go
  x/model/types/genesis.go
  x/model/types/genesis.pb.go
  x/model/types/genesis_test.go
  x/model/types/key_expired_data.go
  x/model/types/query.pb.go
  x/model/types/query.pb.gw.go
  x/order/module.go
Labels: C:x/order, C:CLI

clean expired data
  docs/static/openapi.yml
  proto/sao/model/expired_data.proto
  proto/sao/model/genesis.proto
  proto/sao/model/query.proto
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.model/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/did/keeper/did_management.go
  x/model/abic.go
  x/model/client/cli/query.go
  x/model/client/cli/query_expired_data.go
  x/model/client/cli/query_expired_data_test.go
  x/model/genesis.go
  x/model/genesis_test.go
  x/model/keeper/data_management.go
  x/model/keeper/expired_data.go
  x/model/keeper/expired_data_test.go
  x/model/keeper/grpc_query_expired_data.go
  x/model/keeper/grpc_query_expired_data_test.go
  x/model/module.go
  x/model/types/expired_data.pb.go
  x/model/types/genesis.go
  x/model/types/genesis.pb.go
  x/model/types/genesis_test.go
  x/model/types/key_expired_data.go
  x/model/types/query.pb.go
  x/model/types/query.pb.gw.go
  x/order/module.go
Labels: C:x/order, C:CLI

add query model permission check
  .gitignore
  proto/sao/sao/query_proposal.proto
  x/sao/keeper/grpc_query_metadata.go
  x/sao/types/query_proposal.pb.go
Labels: none

add query model permission check
  .gitignore
  proto/sao/sao/query_proposal.proto
  x/sao/keeper/grpc_query_metadata.go
  x/sao/types/query_proposal.pb.go
Labels: none

add query model permission check
  proto/sao/sao/query_proposal.proto
  x/sao/keeper/grpc_query_metadata.go
  x/sao/types/query_proposal.pb.go
Labels: none

add query model permission check
  proto/sao/sao/query_proposal.proto
  x/sao/keeper/grpc_query_metadata.go
  x/sao/types/query_proposal.pb.go
Labels: none

fix
  docs/static/openapi.yml
  proto/sao/did/did_binding_proof.proto
  proto/sao/did/genesis.proto
  proto/sao/did/query.proto
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/did/client/cli/query.go
  x/did/client/cli/query_did_binding_proof.go
  x/did/client/cli/query_did_binding_proof_test.go
  x/did/genesis.go
  x/did/genesis_test.go
  x/did/keeper/did_binding_proof.go
  x/did/keeper/did_binding_proof_test.go
  x/did/keeper/grpc_query_did_binding_proof.go
  x/did/keeper/grpc_query_did_binding_proof_test.go
  x/did/keeper/msg_server_add_binding.go
  x/did/keeper/msg_server_binding.go
  x/did/keeper/msg_server_reset_store.go
  x/did/keeper/msg_server_unbinding.go
  x/did/keeper/msg_server_update_payment_address.go
  x/did/types/did_binding_proof.pb.go
  x/did/types/genesis.go
  x/did/types/genesis.pb.go
  x/did/types/genesis_test.go
  x/did/types/key_did_binding_proof.go
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
Labels: C:CLI

fix
  docs/static/openapi.yml
  proto/sao/did/did_binding_proof.proto
  proto/sao/did/genesis.proto
  proto/sao/did/query.proto
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/did/client/cli/query.go
  x/did/client/cli/query_did_binding_proof.go
  x/did/client/cli/query_did_binding_proof_test.go
  x/did/genesis.go
  x/did/genesis_test.go
  x/did/keeper/did_binding_proof.go
  x/did/keeper/did_binding_proof_test.go
  x/did/keeper/grpc_query_did_binding_proof.go
  x/did/keeper/grpc_query_did_binding_proof_test.go
  x/did/keeper/msg_server_add_binding.go
  x/did/keeper/msg_server_binding.go
  x/did/keeper/msg_server_reset_store.go
  x/did/keeper/msg_server_unbinding.go
  x/did/keeper/msg_server_update_payment_address.go
  x/did/types/did_binding_proof.pb.go
  x/did/types/genesis.go
  x/did/types/genesis.pb.go
  x/did/types/genesis_test.go
  x/did/types/key_did_binding_proof.go
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
Labels: C:CLI

remove expired data history
  x/model/abic.go
Labels: none

remove expired data history
  x/model/abic.go
Labels: none

add query model permission check
  docs/static/openapi.yml
  proto/sao/sao/query_proposal.proto
  x/sao/types/query_proposal.pb.go
Labels: none

add query model permission check
  docs/static/openapi.yml
  proto/sao/sao/query_proposal.proto
  x/sao/types/query_proposal.pb.go
Labels: none

merge the latest changes
  docs/static/openapi.yml
Labels: none

merge the latest changes
  docs/static/openapi.yml
Labels: none

change duration to uint64
  go.mod
  go.sum
  proto/sao/order/order.proto
  proto/sao/sao/metadata.proto
  proto/sao/sao/proposal.proto
  proto/sao/sao/renew_proposal.proto
  testutil/keeper/did.go
  testutil/keeper/order.go
  testutil/keeper/sao.go
  x/market/keeper/pool_management_test.go
  x/market/keeper/pool_test.go
  x/model/keeper/data_management.go
  x/node/keeper/shard_pledge_management.go
  x/order/abic.go
  x/order/keeper/clean.go
  x/order/types/order.pb.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/metadata.pb.go
  x/sao/types/proposal.pb.go
  x/sao/types/renew_proposal.pb.go
Labels: C:x/order

change duration to uint64
  go.mod
  go.sum
  proto/sao/order/order.proto
  proto/sao/sao/metadata.proto
  proto/sao/sao/proposal.proto
  proto/sao/sao/renew_proposal.proto
  testutil/keeper/did.go
  testutil/keeper/order.go
  testutil/keeper/sao.go
  x/market/keeper/pool_management_test.go
  x/market/keeper/pool_test.go
  x/model/keeper/data_management.go
  x/node/keeper/shard_pledge_management.go
  x/order/abic.go
  x/order/keeper/clean.go
  x/order/types/order.pb.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/metadata.pb.go
  x/sao/types/proposal.pb.go
  x/sao/types/renew_proposal.pb.go
Labels: C:x/order

fix binding and verifyJws
  x/did/keeper/msg_server_binding.go
  x/sao/keeper/grpc_query_metadata.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_updata_permission.go
  x/sao/types/proposal_test.go
Labels: none

fix binding and verifyJws
  x/did/keeper/msg_server_binding.go
  x/sao/keeper/grpc_query_metadata.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_updata_permission.go
  x/sao/types/proposal_test.go
Labels: none

add permission check
  x/did/keeper/did_management.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_store.go
Labels: none

add permission check
  x/did/keeper/did_management.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_store.go
Labels: none

fix duration issue
  x/order/keeper/order_management.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
Labels: C:x/order

fix duration issue
  x/order/keeper/order_management.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
Labels: C:x/order

.github/labeler.yml:

"C:x/sao":
  - x/upgrade/**/*
"C:x/storage":
  - x/storage/**/*
"C:x/order":
  - x/order/**/*
"C:x/earn":
  - x/earn/**/*
"Type: Build":
  - Makefile
  - Dockerfile
"Type: CI":
  - .github/**/*.yml
  - .golangci.yml
"C:CLI":
  - x/*/client/**/*
"Type: ADR":
  - docs/architecture/**/*
