Repository SAONetwork/sao-consensus, changes with the labels that .github/labeler.yml gives for each.
All labels: C:x/sao, C:x/storage, C:x/order, C:x/earn, Type: Build, Type: CI, C:CLI, Type: ADR

migrate renew order
  x/node/keeper/shard_pledge_management.go
  x/order/keeper/shard_management.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

terminate renew order, handle expired shard with renew info
  x/model/keeper/data_management.go
  x/sao/keeper/expire_management.go
Labels: none

force update renew order, remove shards after all order refunded and all shard pledge released
  x/model/keeper/data_management.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_terminate.go
Labels: none

check store operation,fix extend duration
  x/model/keeper/data_management.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/expected_keepers.go
Labels: none

fix: load metadata with data owner
  proto/sao/sao/query_proposal.proto
  x/sao/keeper/grpc_query_metadata.go
  x/sao/types/query_proposal.pb.go
Labels: none

fix
  x/market/keeper/pool_management.go
  x/model/keeper/data_management.go
  x/model/types/expected_keepers.go
  x/node/keeper/msg_server_claim_reward.go
  x/node/keeper/shard_pledge_management.go
  x/order/keeper/order_management.go
  x/sao/keeper/expire_management.go
  x/sao/keeper/expired_shard.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/pledge.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

pledge_debt, refactor node module funcs
  CHANGELOG.md
  docs/static/openapi.yml
  proto/sao/node/genesis.proto
  proto/sao/node/pledge_debt.proto
  proto/sao/node/query.proto
  x/model/keeper/data_management.go
  x/model/types/expected_keepers.go
  x/node/client/cli/query.go
  x/node/client/cli/query_pledge_debt.go
  x/node/client/cli/query_pledge_debt_test.go
  x/node/genesis.go
  x/node/genesis_test.go
  x/node/keeper/grpc_query_pledge_debt.go
  x/node/keeper/grpc_query_pledge_debt_test.go
  x/node/keeper/msg_server_claim_reward.go
  x/node/keeper/pledge_debt.go
  x/node/keeper/pledge_debt_test.go
  x/node/keeper/shard_pledge_management.go
  x/node/types/genesis.go
  x/node/types/genesis.pb.go
  x/node/types/genesis_test.go
  x/node/types/key_pledge_debt.go
  x/node/types/pledge_debt.pb.go
  x/node/types/query.pb.go
  x/node/types/query.pb.gw.go
  x/sao/keeper/expire_management.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_complete.go
  x/sao/types/expected_keepers.go
Labels: C:CLI

feat: pledge_debt, refactor node module funcs (#51)
  CHANGELOG.md
  docs/static/openapi.yml
  proto/sao/node/genesis.proto
  proto/sao/node/pledge_debt.proto
  proto/sao/node/query.proto
  x/model/keeper/data_management.go
  x/model/types/expected_keepers.go
  x/node/client/cli/query.go
  x/node/client/cli/query_pledge_debt.go
  x/node/client/cli/query_pledge_debt_test.go
  x/node/genesis.go
  x/node/genesis_test.go
  x/node/keeper/grpc_query_pledge_debt.go
  x/node/keeper/grpc_query_pledge_debt_test.go
  x/node/keeper/msg_server_claim_reward.go
  x/node/keeper/pledge_debt.go
  x/node/keeper/pledge_debt_test.go
  x/node/keeper/shard_pledge_management.go
  x/node/types/genesis.go
  x/node/types/genesis.pb.go
  x/node/types/genesis_test.go
  x/node/types/key_pledge_debt.go
  x/node/types/pledge_debt.pb.go
  x/node/types/query.pb.go
  x/node/types/query.pb.gw.go
  x/sao/keeper/expire_management.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_complete.go
  x/sao/types/expected_keepers.go
Labels: C:CLI

renew info
  CHANGELOG.md
  proto/sao/model/metadata.proto
  proto/sao/order/renew_info.proto
  proto/sao/order/shard.proto
  x/market/keeper/pool_management.go
  x/model/keeper/data_management.go
  x/model/keeper/migrations.go
  x/model/migrations/v2/types/metadata.pb.go
  x/model/migrations/v3/migrations.go
  x/model/module.go
  x/node/keeper/msg_server_claim_reward.go
  x/node/keeper/shard_pledge_management.go
  x/order/keeper/shard_management.go
  x/order/migrations/v3/migrations.go
  x/order/types/renew_info.pb.go
  x/order/types/shard.pb.go
  x/sao/keeper/expired_shard.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_terminate.go
  x/sao/keeper/pledge.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

feat: renew info (#52)
  CHANGELOG.md
  proto/sao/model/metadata.proto
  proto/sao/order/renew_info.proto
  proto/sao/order/shard.proto
  x/market/keeper/pool_management.go
  x/model/keeper/data_management.go
  x/model/keeper/migrations.go
  x/model/migrations/v2/types/metadata.pb.go
  x/model/migrations/v3/migrations.go
  x/model/module.go
  x/node/keeper/msg_server_claim_reward.go
  x/node/keeper/shard_pledge_management.go
  x/order/keeper/shard_management.go
  x/order/migrations/v3/migrations.go
  x/order/types/renew_info.pb.go
  x/order/types/shard.pb.go
  x/sao/keeper/expired_shard.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_terminate.go
  x/sao/keeper/pledge.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

merge
  x/market/keeper/pool_management.go
  x/node/keeper/msg_server_claim_reward.go
  x/node/keeper/shard_pledge_management.go
  x/sao/keeper/expire_management.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/expected_keepers.go
Labels: none

update CHANGELOG.md
  CHANGELOG.md
Labels: none

refactor: renew (#45)
  CHANGELOG.md
  config.yml
  docs/static/openapi.yml
  x/node/keeper/shard_pledge_management.go
  x/node/types/expected_keepers.go
  x/order/keeper/order_management.go
  x/sao/keeper/expire_management.go
  x/sao/keeper/keeper.go
  x/sao/keeper/msg_server_renew.go
  x/sao/types/errors.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

cleanup account id
  CHANGELOG.md
  proto/sao/did/account_id.proto
  x/did/module_simulation.go
  x/did/types/account_id.pb.go
Labels: none

pool pending storage
  docs/static/openapi.yml
  proto/sao/node/pool.proto
  x/node/abci.go
  x/node/keeper/shard_pledge_management.go
  x/node/types/pool.pb.go
Labels: none

ignite scaffold loan module
  app/app.go
  docs/static/openapi.yml
  proto/sao/loan/genesis.proto
  proto/sao/loan/params.proto
  proto/sao/loan/query.proto
  proto/sao/loan/tx.proto
  testutil/keeper/loan.go
  x/loan/client/cli/query.go
  x/loan/client/cli/query_params.go
  x/loan/client/cli/tx.go
  x/loan/genesis.go
  x/loan/genesis_test.go
  x/loan/keeper/grpc_query.go
  x/loan/keeper/grpc_query_params.go
  x/loan/keeper/grpc_query_params_test.go
  x/loan/keeper/keeper.go
  x/loan/keeper/msg_server.go
  x/loan/keeper/msg_server_test.go
  x/loan/keeper/params.go
  x/loan/keeper/params_test.go
  x/loan/module.go
  x/loan/module_simulation.go
  x/loan/simulation/helpers.go
  x/loan/types/codec.go
  x/loan/types/errors.go
  x/loan/types/expected_keepers.go
  x/loan/types/genesis.go
  x/loan/types/genesis.pb.go
  x/loan/types/genesis_test.go
  x/loan/types/keys.go
  x/loan/types/params.go
  x/loan/types/params.pb.go
  x/loan/types/query.pb.go
  x/loan/types/query.pb.gw.go
  x/loan/types/tx.pb.go
  x/loan/types/types.go
Labels: C:CLI

add msg report failure
  docs/static/openapi.yml
  go.mod
  proto/sao/sao/failure.proto
  proto/sao/sao/tx.proto
  x/node/client/cli/query.go
  x/node/client/cli/query_failure.go
  x/node/keeper/failure.go
  x/node/keeper/grpc_query_failure.go
  x/node/keeper/shard_pledge_management.go
  x/node/types/types.go
  x/sao/client/cli/query.go
  x/sao/client/cli/query_failuree.go
  x/sao/client/cli/tx.go
  x/sao/client/cli/tx_report_failures.go
  x/sao/keeper/failure.go
  x/sao/keeper/grpc_query_failure.go
  x/sao/keeper/msg_server_report_failures.go
  x/sao/module_simulation.go
  x/sao/simulation/report_failures.go
  x/sao/types/codec.go
  x/sao/types/failure.go
  x/sao/types/failure.pb.go
  x/sao/types/message_report_failures.go
  x/sao/types/message_report_failures_test.go
  x/sao/types/tx.pb.go
Labels: C:CLI

new type LoanPool
  docs/static/openapi.yml
  go.mod
  proto/sao/loan/genesis.proto
  proto/sao/loan/loan_pool.proto
  proto/sao/loan/query.proto
  x/loan/client/cli/query.go
  x/loan/client/cli/query_loan_pool.go
  x/loan/client/cli/query_loan_pool_test.go
  x/loan/genesis.go
  x/loan/genesis_test.go
  x/loan/keeper/grpc_query_loan_pool.go
  x/loan/keeper/grpc_query_loan_pool_test.go
  x/loan/keeper/loan_pool.go
  x/loan/keeper/loan_pool_test.go
  x/loan/types/genesis.go
  x/loan/types/genesis.pb.go
  x/loan/types/genesis_test.go
  x/loan/types/keys.go
  x/loan/types/loan_pool.pb.go
  x/loan/types/query.pb.go
  x/loan/types/query.pb.gw.go
Labels: C:CLI

new type Cridit
  docs/static/openapi.yml
  proto/sao/loan/credit.proto
  proto/sao/loan/genesis.proto
  proto/sao/loan/query.proto
  x/loan/client/cli/query.go
  x/loan/client/cli/query_credit.go
  x/loan/client/cli/query_credit_test.go
  x/loan/genesis.go
  x/loan/genesis_test.go
  x/loan/keeper/credit.go
  x/loan/keeper/credit_test.go
  x/loan/keeper/grpc_query_credit.go
  x/loan/keeper/grpc_query_credit_test.go
  x/loan/types/credit.pb.go
  x/loan/types/genesis.go
  x/loan/types/genesis.pb.go
  x/loan/types/genesis_test.go
  x/loan/types/key_credit.go
  x/loan/types/query.pb.go
  x/loan/types/query.pb.gw.go
Labels: C:CLI

add report faults message
  docs/static/openapi.yml
  go.mod
  proto/sao/node/fault.proto
  proto/sao/node/query.proto
  proto/sao/sao/fault.proto
  proto/sao/sao/tx.proto
  x/node/client/cli/query.go
  x/node/client/cli/query_all_faults.go
  x/node/client/cli/query_fault.go
  x/node/keeper/fault.go
  x/node/keeper/grpc_query_all_faults.go
  x/node/keeper/grpc_query_fault.go
  x/node/keeper/shard_pledge_management.go
  x/node/types/fault.go
  x/node/types/fault.pb.go
  x/node/types/query.pb.go
  x/node/types/query.pb.gw.go
  x/node/types/types.go
  x/sao/client/cli/tx.go
  x/sao/client/cli/tx_report_faults.go
  x/sao/keeper/msg_server_report_faults.go
  x/sao/module_simulation.go
  x/sao/simulation/report_faults.go
  x/sao/types/codec.go
  x/sao/types/expected_keepers.go
  x/sao/types/fault.pb.go
  x/sao/types/keys.go
  x/sao/types/message_report_faults.go
  x/sao/types/message_report_faults_test.go
  x/sao/types/tx.pb.go
Labels: C:CLI

add field LoanStrategy/LoanPledged/LastRewardat in type Pledge
  docs/static/openapi.yml
  proto/sao/node/pledge.proto
  x/node/types/pledge.pb.go
Labels: none

add field LastChargedAt in type LoanPool
  docs/static/openapi.yml
  proto/sao/loan/loan_pool.proto
  x/loan/types/loan_pool.pb.go
Labels: none

add report faults message
  docs/static/openapi.yml
  go.mod
  proto/sao/node/fault.proto
  proto/sao/sao/fault.proto
  proto/sao/sao/tx.proto
  x/node/keeper/fault.go
  x/node/keeper/node.go
  x/node/types/fault.go
  x/node/types/fault.pb.go
  x/sao/client/cli/tx.go
  x/sao/client/cli/tx_recover_faults.go
  x/sao/keeper/msg_server_recover_faults.go
  x/sao/module_simulation.go
  x/sao/simulation/recover_faults.go
  x/sao/types/codec.go
  x/sao/types/errors.go
  x/sao/types/expected_keepers.go
  x/sao/types/fault.pb.go
  x/sao/types/message_recover_faults.go
  x/sao/types/message_recover_faults_test.go
  x/sao/types/tx.pb.go
Labels: C:CLI

add report faults message
  x/node/keeper/fault.go
  x/node/types/fault.go
  x/node/types/fault.pb.go
  x/node/types/query.pb.go
  x/sao/types/expected_keepers.go
  x/sao/types/fault.pb.go
Labels: none

add faults penalty
  app/app.go
  proto/sao/node/fault.proto
  proto/sao/node/query.proto
  proto/sao/sao/fault.proto
  x/node/client/cli/query_all_faults.go
  x/node/client/cli/query_fault.go
  x/node/keeper/keeper.go
  x/node/keeper/node.go
  x/node/types/errors.go
  x/node/types/key_node.go
  x/node/types/query.pb.go
  x/node/types/types.go
  x/sao/keeper/keeper.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_recover_faults.go
  x/sao/keeper/msg_server_report_faults.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_terminate.go
Labels: C:CLI

add net version query
  docs/static/openapi.yml
  proto/sao/sao/query.proto
  x/sao/client/cli/query.go
  x/sao/client/cli/query_net_version.go
  x/sao/keeper/grpc_query_net_version.go
  x/sao/types/query.pb.go
  x/sao/types/query.pb.gw.go
Labels: C:CLI

add fishmen query
  docs/static/openapi.yml
  proto/sao/node/query.proto
  x/node/client/cli/query.go
  x/node/client/cli/query_fishmen.go
  x/node/keeper/grpc_query_fishmen.go
  x/node/types/query.pb.go
  x/node/types/query.pb.gw.go
Labels: C:CLI

add fishmen query
  proto/sao/node/query.proto
  x/node/types/query.pb.go
Labels: none

add params
  proto/sao/node/params.proto
  x/node/abci.go
  x/node/keeper/params.go
  x/node/keeper/shard_pledge_management.go
  x/node/migrations/v3/migrations.go
  x/node/types/params.go
  x/node/types/params.pb.go
Labels: none

loanpool deposit and withdraw
  app/app.go
  docs/static/openapi.yml
  proto/sao/loan/loan_pool.proto
  proto/sao/loan/params.proto
  proto/sao/sao/tx.proto
  x/loan/keeper/loan_management.go
  x/loan/module_simulation.go
  x/loan/types/errors.go
  x/loan/types/loan_pool.pb.go
  x/loan/types/params.go
  x/loan/types/params.pb.go
  x/sao/client/cli/tx.go
  x/sao/client/cli/tx_deposit.go
  x/sao/client/cli/tx_withdraw.go
  x/sao/keeper/keeper.go
  x/sao/keeper/msg_server_deposit.go
  x/sao/keeper/msg_server_withdraw.go
  x/sao/module_simulation.go
  x/sao/simulation/deposit.go
  x/sao/simulation/withdraw.go
  x/sao/types/codec.go
  x/sao/types/expected_keepers.go
  x/sao/types/message_deposit.go
  x/sao/types/message_deposit_test.go
  x/sao/types/message_withdraw.go
  x/sao/types/message_withdraw_test.go
  x/sao/types/tx.pb.go
Labels: C:CLI

gov parameters
  app/app.go
  docs/static/openapi.yml
  go.mod
  proto/sao/node/fishmen.proto
  proto/sao/node/query.proto
  x/node/keeper/grpc_query_fishmen.go
  x/node/keeper/keeper.go
  x/node/keeper/node.go
  x/node/types/fishmen.pb.go
  x/node/types/key_node.go
  x/node/types/query.pb.go
  x/node/types/types.go
  x/sao/keeper/keeper.go
Labels: none

feat: add node params (#53)
  proto/sao/node/params.proto
  x/node/abci.go
  x/node/keeper/params.go
  x/node/keeper/shard_pledge_management.go
  x/node/migrations/v3/migrations.go
  x/node/types/params.go
  x/node/types/params.pb.go
Labels: none

fix build issue
  app/app.go
  x/node/keeper/keeper.go
  x/sao/keeper/keeper.go
Labels: none

fix build issue
  app/app.go
  docs/static/openapi.yml
  proto/sao/node/params.proto
  proto/sao/node/query.proto
  x/node/keeper/grpc_query_fishmen.go
  x/node/keeper/keeper.go
  x/node/keeper/node.go
  x/node/keeper/params.go
  x/node/types/params.go
  x/node/types/params.pb.go
  x/node/types/query.pb.go
Labels: none

add default config
  config.yml
Labels: none

merge collect
  x/node/keeper/grpc_query_fishmen.go
  x/node/keeper/params.go
  x/node/types/query.pb.go
Labels: none

update v016
  app/app.go
  app/upgrades/v0_1_6/constants.go
  app/upgrades/v0_1_6/upgrades.go
Labels: none

fix build issue
  docs/static/openapi.yml
  go.mod
  x/node/client/cli/query_all_faults.go
  x/node/client/cli/query_fault.go
  x/node/types/params.go
  x/sao/keeper/msg_server_recover_faults.go
  x/sao/keeper/msg_server_report_faults.go
Labels: C:CLI

loan and repay
  CHANGELOG.md
  app/app.go
  docs/static/openapi.yml
  proto/sao/node/tx.proto
  testutil/keeper/market.go
  testutil/keeper/model.go
  testutil/keeper/node.go
  testutil/keeper/order.go
  testutil/keeper/sao.go
  x/loan/keeper/loan_management.go
  x/loan/keeper/loan_management_test.go
  x/loan/keeper/params_test.go
  x/loan/types/errors.go
  x/loan/types/params.go
  x/node/client/cli/tx.go
  x/node/client/cli/tx_set_loan_strategy.go
  x/node/keeper/keeper.go
  x/node/keeper/msg_server_claim_reward.go
  x/node/keeper/msg_server_set_loan_strategy.go
  x/node/keeper/shard_pledge_management.go
  x/node/module_simulation.go
  x/node/simulation/set_loan_strategy.go
  x/node/types/codec.go
  x/node/types/constants.go
  x/node/types/expected_keepers.go
  x/node/types/message_set_loan_strategy.go
  x/node/types/message_set_loan_strategy_test.go
  x/node/types/tx.pb.go
Labels: C:CLI

add integration
  x/node/keeper/fault.go
  x/node/keeper/grpc_query_all_faults.go
  x/node/keeper/grpc_query_fault.go
  x/node/keeper/node.go
  x/node/types/fault.go
  x/node/types/query.pb.go
  x/sao/keeper/msg_server_recover_faults.go
  x/sao/keeper/msg_server_report_faults.go
  x/sao/types/expected_keepers.go
  x/sao/types/tx.pb.go
Labels: none

.github/labeler.yml:

"C:x/sao":
  - x/upgrade/**/*
"C:x/storage":
  - x/storage/**/*
"C:x/order":
  - x/order/**/*
"C:x/earn":
  - x/earn/**/*
"Type: Build":
  - Makefile
  - Dockerfile
"Type: CI":
  - .github/**/*.yml
  - .golangci.yml
"C:CLI":
  - x/*/client/**/*
"Type: ADR":
  - docs/architecture/**/*
