Repository SAONetwork/sao-consensus, changes with the labels that .github/labeler.yml gives for each.
All labels: C:x/sao, C:x/storage, C:x/order, C:x/earn, Type: Build, Type: CI, C:CLI, Type: ADR

feat: add builtin did to support read public data (#65)
  config.yml
  docs/static/openapi.yml
  proto/sao/did/params.proto
  x/did/keeper/did_management.go
  x/did/keeper/params.go
  x/did/types/params.go
  x/did/types/params.pb.go
  x/sao/keeper/grpc_query_metadata.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_terminate.go
  x/sao/keeper/msg_server_updata_permission.go
  x/sao/keeper/verify.go
  x/sao/types/expected_keepers.go
Labels: none

fix timeout and migrate
  CHANGELOG.md
  x/market/keeper/pool_management.go
  x/order/types/constants.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/timeout_management.go
Labels: C:x/order

fix renew
  x/sao/keeper/msg_server_renew.go
  x/sao/types/errors.go
Labels: none

skip migrating shard re-pledge
  x/sao/keeper/msg_server_renew.go
Labels: none

refund part of order amount for timeout shards
  x/sao/keeper/timeout_management.go
Labels: none

fix: timeout, migrate, renew and complete (#66)
  CHANGELOG.md
  x/market/keeper/pool_management.go
  x/order/types/constants.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/timeout_management.go
  x/sao/types/errors.go
Labels: C:x/order

fix
  CHANGELOG.md
  x/model/keeper/data_management.go
  x/model/keeper/grpc_query_metadata.go
  x/sao/keeper/timeout_management.go
Labels: none

feat: create public model
  CHANGELOG.md
  x/sao/keeper/msg_server_store.go
Labels: none

kid
  CHANGELOG.md
  app/app.go
  app/upgrades/v0_1_8/constants.go
  app/upgrades/v0_1_8/upgrades.go
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/did/genesis.proto
  proto/sao/did/kid.proto
  proto/sao/did/query.proto
  x/did/client/cli/query.go
  x/did/client/cli/query_kid.go
  x/did/client/cli/query_kid_test.go
  x/did/client/cli/tx_update_payment_address.go
  x/did/genesis.go
  x/did/genesis_test.go
  x/did/keeper/did_management.go
  x/did/keeper/grpc_query_kid.go
  x/did/keeper/grpc_query_kid_test.go
  x/did/keeper/kid.go
  x/did/keeper/kid_test.go
  x/did/keeper/migrations.go
  x/did/keeper/msg_server_update_payment_address.go
  x/did/migrations/v2/migrations.go
  x/did/module.go
  x/did/types/errors.go
  x/did/types/genesis.go
  x/did/types/genesis.pb.go
  x/did/types/genesis_test.go
  x/did/types/key_kid.go
  x/did/types/kid.pb.go
  x/did/types/message_update_payment_address.go
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
Labels: C:CLI

remove signature verify in query metadata
  x/sao/keeper/grpc_query_metadata.go
Labels: none

feat: create public model (#71)
  CHANGELOG.md
  x/sao/keeper/msg_server_store.go
Labels: none

remove signature verify in query metadata (#74)
  x/sao/keeper/grpc_query_metadata.go
Labels: none

list shard by sp
  CHANGELOG.md
  proto/sao/order/query.proto
  x/order/client/cli/query.go
  x/order/client/cli/query_shard_list_by_sp.go
  x/order/keeper/grpc_query_shard_list_by_sp.go
  x/order/keeper/shard.go
  x/order/types/query.pb.go
  x/order/types/query.pb.gw.go
Labels: C:x/order, C:CLI

migrations
  app/app.go
  app/upgrades/v0_1_8/constants.go
  app/upgrades/v0_1_8/upgrades.go
  x/order/keeper/migrations.go
  x/order/migrations/v2/migrations.go
  x/order/module.go
Labels: C:x/order

hotfix: node v4 migration (#62)
  x/node/migrations/v4/migrations.go
Labels: none

refactor: change metadata and order to completed state when one shard in the order is completed (#64)
  CHANGELOG.md
  app/app.go
  app/upgrades/v0_1_7/constants.go
  app/upgrades/v0_1_7/upgrades.go
  docs/static/openapi.yml
  x/market/keeper/pool_management.go
  x/model/keeper/data_management.go
  x/order/keeper/keeper.go
  x/order/keeper/migrations.go
  x/order/keeper/shard_management.go
  x/order/migrations/v4/migrations.go
  x/order/module.go
  x/order/types/constants.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/timeout_management.go
  x/sao/types/errors.go
Labels: C:x/order

feat: add builtin did to support read public data (#65)
  config.yml
  docs/static/openapi.yml
  proto/sao/did/params.proto
  x/did/keeper/did_management.go
  x/did/keeper/params.go
  x/did/types/params.go
  x/did/types/params.pb.go
  x/sao/keeper/grpc_query_metadata.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_terminate.go
  x/sao/keeper/msg_server_updata_permission.go
  x/sao/keeper/verify.go
  x/sao/types/expected_keepers.go
Labels: none

fix: timeout, migrate, renew and complete (#66)
  CHANGELOG.md
  x/market/keeper/pool_management.go
  x/order/types/constants.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/timeout_management.go
  x/sao/types/errors.go
Labels: C:x/order

feat: create public model (#71)
  CHANGELOG.md
  x/sao/keeper/msg_server_store.go
Labels: none

remove signature verify in query metadata (#74)
  x/sao/keeper/grpc_query_metadata.go
Labels: none

check and change node role in reset message
  CHANGELOG.md
  x/node/keeper/hooks.go
  x/node/keeper/msg_server_reset.go
  x/node/types/expected_keepers.go
  x/node/types/types.go
Labels: none

feat: list shard by sp (#75)
  CHANGELOG.md
  proto/sao/order/query.proto
  x/order/client/cli/query.go
  x/order/client/cli/query_shard_list_by_sp.go
  x/order/keeper/grpc_query_shard_list_by_sp.go
  x/order/keeper/shard.go
  x/order/types/query.pb.go
  x/order/types/query.pb.gw.go
Labels: C:x/order, C:CLI

add node builtin params
  app/app.go
  app/upgrades/v0_1_7/upgrades.go
Labels: none

feat: store the mapping of account and key did (#73)
  CHANGELOG.md
  app/app.go
  app/upgrades/v0_1_8/constants.go
  app/upgrades/v0_1_8/upgrades.go
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/did/genesis.proto
  proto/sao/did/kid.proto
  proto/sao/did/query.proto
  x/did/client/cli/query.go
  x/did/client/cli/query_kid.go
  x/did/client/cli/query_kid_test.go
  x/did/client/cli/tx_update_payment_address.go
  x/did/genesis.go
  x/did/genesis_test.go
  x/did/keeper/did_management.go
  x/did/keeper/grpc_query_kid.go
  x/did/keeper/grpc_query_kid_test.go
  x/did/keeper/kid.go
  x/did/keeper/kid_test.go
  x/did/keeper/migrations.go
  x/did/keeper/msg_server_update_payment_address.go
  x/did/migrations/v2/migrations.go
  x/did/module.go
  x/did/types/errors.go
  x/did/types/genesis.go
  x/did/types/genesis.pb.go
  x/did/types/genesis_test.go
  x/did/types/key_kid.go
  x/did/types/kid.pb.go
  x/did/types/message_update_payment_address.go
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
Labels: C:CLI

fix: fix shard status (#69)
  x/model/keeper/data_management.go
  x/model/keeper/grpc_query_metadata.go
  x/order/keeper/migrations.go
  x/order/migrations/v2/migrations.go
  x/order/module.go
  x/sao/keeper/timeout_management.go
Labels: C:x/order

feat: list shard by sp (#75)
  CHANGELOG.md
  proto/sao/order/query.proto
  x/order/client/cli/query.go
  x/order/client/cli/query_shard_list_by_sp.go
  x/order/keeper/grpc_query_shard_list_by_sp.go
  x/order/keeper/shard.go
  x/order/types/query.pb.go
  x/order/types/query.pb.gw.go
Labels: C:x/order, C:CLI

feat: store the mapping of account and key did (#73)
  CHANGELOG.md
  app/app.go
  app/upgrades/v0_1_8/constants.go
  app/upgrades/v0_1_8/upgrades.go
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/did/genesis.proto
  proto/sao/did/kid.proto
  proto/sao/did/query.proto
  x/did/client/cli/query.go
  x/did/client/cli/query_kid.go
  x/did/client/cli/query_kid_test.go
  x/did/client/cli/tx_update_payment_address.go
  x/did/genesis.go
  x/did/genesis_test.go
  x/did/keeper/did_management.go
  x/did/keeper/grpc_query_kid.go
  x/did/keeper/grpc_query_kid_test.go
  x/did/keeper/kid.go
  x/did/keeper/kid_test.go
  x/did/keeper/migrations.go
  x/did/keeper/msg_server_update_payment_address.go
  x/did/migrations/v2/migrations.go
  x/did/module.go
  x/did/types/errors.go
  x/did/types/genesis.go
  x/did/types/genesis.pb.go
  x/did/types/genesis_test.go
  x/did/types/key_kid.go
  x/did/types/kid.pb.go
  x/did/types/message_update_payment_address.go
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
Labels: C:CLI

fix: fix shard status (#69)
  go.mod
  go.sum
  x/model/keeper/data_management.go
  x/model/keeper/grpc_query_metadata.go
  x/order/keeper/migrations.go
  x/order/migrations/v5/migrations.go
  x/order/module.go
  x/sao/keeper/timeout_management.go
Labels: C:x/order

fix share ratio calculation
  x/node/keeper/hooks.go
  x/node/keeper/msg_server_reset.go
  x/node/keeper/super.go
Labels: none

add vstorage threshold in node params
  CHANGELOG.md
  proto/sao/node/params.proto
  x/node/keeper/hooks.go
  x/node/keeper/msg_server_reset.go
  x/node/keeper/params.go
  x/node/types/params.go
  x/node/types/params.pb.go
Labels: none

node param upgrade
  app/app.go
  app/upgrades/v0_1_8/constants.go
  app/upgrades/v0_1_8/upgrades.go
Labels: none

set minimum duration
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
Labels: none

fix super node, add node check
  x/node/keeper/hooks.go
  x/node/keeper/msg_server_add_vstorage.go
  x/node/keeper/msg_server_remove_vstorage.go
  x/node/keeper/msg_server_reset.go
  x/node/keeper/super.go
  x/node/types/errors.go
Labels: none

reset change validator
  proto/sao/node/tx.proto
  x/node/keeper/msg_server_reset.go
  x/node/types/errors.go
  x/node/types/tx.pb.go
Labels: none

set the node to offline when the last alive height of the node and current height exceed 21600 blocks
  CHANGELOG.md
  x/node/abci.go
Labels: none

cancel unhandled timed out order, fix order creator
  CHANGELOG.md
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/timeout_management.go
Labels: none

set minimum duration (#78)
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
Labels: none

fix: cancel unhandled timed out order, fix order creator (#80)
  CHANGELOG.md
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/timeout_management.go
Labels: none

fix : add node offline status (#79)
  x/node/abci.go
Labels: none

refactor node share check
  CHANGELOG.md
  x/node/keeper/msg_server_add_vstorage.go
  x/node/keeper/msg_server_reset.go
  x/node/keeper/super.go
Labels: none

.github/labeler.yml:

"C:x/sao":
  - x/upgrade/**/*
"C:x/storage":
  - x/storage/**/*
"C:x/order":
  - x/order/**/*
"C:x/earn":
  - x/earn/**/*
"Type: Build":
  - Makefile
  - Dockerfile
"Type: CI":
  - .github/**/*.yml
  - .golangci.yml
"C:CLI":
  - x/*/client/**/*
"Type: ADR":
  - docs/architecture/**/*
