Repository SAONetwork/sao-consensus, changes with the labels that .github/labeler.yml gives for each.
All labels: C:x/sao, C:x/storage, C:x/order, C:x/earn, Type: Build, Type: CI, C:CLI, Type: ADR

impl binding messages
  x/did/keeper/msg_server_add_binding.go
  x/did/keeper/msg_server_get_binding.go
  x/did/types/errors.go
Labels: none

impl binding messages
  x/did/keeper/msg_server_add_binding.go
  x/did/keeper/msg_server_get_binding.go
  x/did/types/errors.go
Labels: none

fix order query issue
  x/order/keeper/order_management.go
  x/sao/keeper/msg_server_store.go
Labels: C:x/order

fix order query issue
  x/order/keeper/order_management.go
  x/sao/keeper/msg_server_store.go
Labels: C:x/order

add Dockerfile
  Dockerfile
Labels: Type: Build

add Dockerfile
  Dockerfile
Labels: Type: Build

fix bug
  config.yml
  testutil/keeper/model.go
  testutil/keeper/order.go
  testutil/keeper/sao.go
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/order/client/cli/query.go
  x/order/keeper/order_management.go
  x/order/keeper/shard_management.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_test.go
  x/sao/types/errors.go
Labels: C:x/order, C:CLI

fix bug
  config.yml
  testutil/keeper/model.go
  testutil/keeper/order.go
  testutil/keeper/sao.go
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/order/client/cli/query.go
  x/order/keeper/order_management.go
  x/order/keeper/shard_management.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_test.go
  x/sao/types/errors.go
Labels: C:x/order, C:CLI

support node status report and query
  go.mod
  proto/node/node.proto
  proto/node/query.proto
  proto/node/tx.proto
  x/node/client/cli/query_node.go
  x/node/client/cli/tx_login.go
  x/node/client/cli/tx_reset.go
  x/node/keeper/grpc_query_node.go
  x/node/keeper/grpc_query_pool_test.go
  x/node/keeper/msg_server_login.go
  x/node/keeper/msg_server_login_test.go
  x/node/keeper/msg_server_logout_test.go
  x/node/keeper/msg_server_reset.go
  x/node/keeper/node.go
  x/node/keeper/pool_test.go
  x/node/keeper/reputation.go
  x/node/module.go
  x/node/types/errors.go
  x/node/types/message_login.go
  x/node/types/message_reset.go
  x/node/types/node.pb.go
  x/node/types/query.pb.go
  x/node/types/tx.pb.go
  x/node/types/types.go
Labels: C:CLI

support node status report and query
  go.mod
  proto/node/node.proto
  proto/node/query.proto
  proto/node/tx.proto
  x/node/client/cli/query_node.go
  x/node/client/cli/tx_login.go
  x/node/client/cli/tx_reset.go
  x/node/keeper/grpc_query_node.go
  x/node/keeper/grpc_query_pool_test.go
  x/node/keeper/msg_server_login.go
  x/node/keeper/msg_server_login_test.go
  x/node/keeper/msg_server_logout_test.go
  x/node/keeper/msg_server_reset.go
  x/node/keeper/node.go
  x/node/keeper/pool_test.go
  x/node/keeper/reputation.go
  x/node/module.go
  x/node/types/errors.go
  x/node/types/message_login.go
  x/node/types/message_reset.go
  x/node/types/node.pb.go
  x/node/types/query.pb.go
  x/node/types/tx.pb.go
  x/node/types/types.go
Labels: C:CLI

remove get_binding
  docs/static/openapi.yml
  proto/sao/did/tx.proto
  x/did/client/cli/tx.go
  x/did/client/cli/tx_get_binding.go
  x/did/keeper/msg_server_get_binding.go
  x/did/module_simulation.go
  x/did/simulation/get_binding.go
  x/did/types/codec.go
  x/did/types/message_get_binding.go
  x/did/types/message_get_binding_test.go
  x/did/types/tx.pb.go
Labels: C:CLI

remove get_binding
  docs/static/openapi.yml
  proto/sao/did/tx.proto
  x/did/client/cli/tx.go
  x/did/client/cli/tx_get_binding.go
  x/did/keeper/msg_server_get_binding.go
  x/did/module_simulation.go
  x/did/simulation/get_binding.go
  x/did/types/codec.go
  x/did/types/message_get_binding.go
  x/did/types/message_get_binding_test.go
  x/did/types/tx.pb.go
Labels: C:CLI

add unbinding msg
  docs/static/openapi.yml
  go.mod
  proto/sao/did/tx.proto
  x/did/client/cli/tx.go
  x/did/client/cli/tx_unbinding.go
  x/did/keeper/msg_server_unbinding.go
  x/did/module_simulation.go
  x/did/simulation/unbinding.go
  x/did/types/codec.go
  x/did/types/message_unbinding.go
  x/did/types/message_unbinding_test.go
  x/did/types/tx.pb.go
Labels: C:CLI

add unbinding msg
  docs/static/openapi.yml
  go.mod
  proto/sao/did/tx.proto
  x/did/client/cli/tx.go
  x/did/client/cli/tx_unbinding.go
  x/did/keeper/msg_server_unbinding.go
  x/did/module_simulation.go
  x/did/simulation/unbinding.go
  x/did/types/codec.go
  x/did/types/message_unbinding.go
  x/did/types/message_unbinding_test.go
  x/did/types/tx.pb.go
Labels: C:CLI

reduce 'address', 'type', 'chainId' three fields in BindingProof
  docs/static/openapi.yml
  proto/sao/did/binding_proof.proto
  x/did/types/binding_proof.pb.go
Labels: none

reduce 'address', 'type', 'chainId' three fields in BindingProof
  docs/static/openapi.yml
  proto/sao/did/binding_proof.proto
  x/did/types/binding_proof.pb.go
Labels: none

add type AccountList AccountAuth
  docs/static/openapi.yml
  go.mod
  proto/sao/did/account_auth.proto
  proto/sao/did/account_list.proto
  proto/sao/did/genesis.proto
  proto/sao/did/query.proto
  x/did/client/cli/query.go
  x/did/client/cli/query_account_auth.go
  x/did/client/cli/query_account_auth_test.go
  x/did/client/cli/query_account_list.go
  x/did/client/cli/query_account_list_test.go
  x/did/genesis.go
  x/did/genesis_test.go
  x/did/keeper/account_auth.go
  x/did/keeper/account_auth_test.go
  x/did/keeper/account_list.go
  x/did/keeper/account_list_test.go
  x/did/keeper/grpc_query_account_auth.go
  x/did/keeper/grpc_query_account_auth_test.go
  x/did/keeper/grpc_query_account_list.go
  x/did/keeper/grpc_query_account_list_test.go
  x/did/types/account_auth.pb.go
  x/did/types/account_list.pb.go
  x/did/types/genesis.go
  x/did/types/genesis.pb.go
  x/did/types/genesis_test.go
  x/did/types/key_account_auth.go
  x/did/types/key_account_list.go
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
Labels: C:CLI

add type AccountList AccountAuth
  docs/static/openapi.yml
  go.mod
  proto/sao/did/account_auth.proto
  proto/sao/did/account_list.proto
  proto/sao/did/genesis.proto
  proto/sao/did/query.proto
  x/did/client/cli/query.go
  x/did/client/cli/query_account_auth.go
  x/did/client/cli/query_account_auth_test.go
  x/did/client/cli/query_account_list.go
  x/did/client/cli/query_account_list_test.go
  x/did/genesis.go
  x/did/genesis_test.go
  x/did/keeper/account_auth.go
  x/did/keeper/account_auth_test.go
  x/did/keeper/account_list.go
  x/did/keeper/account_list_test.go
  x/did/keeper/grpc_query_account_auth.go
  x/did/keeper/grpc_query_account_auth_test.go
  x/did/keeper/grpc_query_account_list.go
  x/did/keeper/grpc_query_account_list_test.go
  x/did/types/account_auth.pb.go
  x/did/types/account_list.pb.go
  x/did/types/genesis.go
  x/did/types/genesis.pb.go
  x/did/types/genesis_test.go
  x/did/types/key_account_auth.go
  x/did/types/key_account_list.go
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
Labels: C:CLI

add message AddAccountAuth
  docs/static/openapi.yml
  proto/sao/did/tx.proto
  x/did/client/cli/tx.go
  x/did/client/cli/tx_add_account_auth.go
  x/did/keeper/msg_server_add_account_auth.go
  x/did/keeper/msg_server_add_binding.go
  x/did/module_simulation.go
  x/did/simulation/add_account_auth.go
  x/did/types/codec.go
  x/did/types/errors.go
  x/did/types/message_add_account_auth.go
  x/did/types/message_add_account_auth_test.go
  x/did/types/tx.pb.go
Labels: C:CLI

add message AddAccountAuth
  docs/static/openapi.yml
  proto/sao/did/tx.proto
  x/did/client/cli/tx.go
  x/did/client/cli/tx_add_account_auth.go
  x/did/keeper/msg_server_add_account_auth.go
  x/did/keeper/msg_server_add_binding.go
  x/did/module_simulation.go
  x/did/simulation/add_account_auth.go
  x/did/types/codec.go
  x/did/types/errors.go
  x/did/types/message_add_account_auth.go
  x/did/types/message_add_account_auth_test.go
  x/did/types/tx.pb.go
Labels: C:CLI

renew message
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/sao/tx.proto
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/model/client/cli/tx.go
  x/model/module_simulation.go
  x/model/types/codec.go
  x/sao/client/cli/tx.go
  x/sao/client/cli/tx_renew.go
  x/sao/keeper/msg_server_renew.go
  x/sao/module_simulation.go
  x/sao/simulation/renew.go
  x/sao/types/codec.go
  x/sao/types/message_renew.go
  x/sao/types/message_renew_test.go
  x/sao/types/tx.pb.go
Labels: C:CLI

renew message
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/sao/tx.proto
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/model/client/cli/tx.go
  x/model/module_simulation.go
  x/model/types/codec.go
  x/sao/client/cli/tx.go
  x/sao/client/cli/tx_renew.go
  x/sao/keeper/msg_server_renew.go
  x/sao/module_simulation.go
  x/sao/simulation/renew.go
  x/sao/types/codec.go
  x/sao/types/message_renew.go
  x/sao/types/message_renew_test.go
  x/sao/types/tx.pb.go
Labels: C:CLI

merge the latest changes
  go.mod
Labels: none

merge the latest changes
  go.mod
Labels: none

add message UpadteAccountAuths
  docs/static/openapi.yml
  proto/sao/did/tx.proto
  x/did/client/cli/tx.go
  x/did/client/cli/tx_update_account_auths.go
  x/did/keeper/msg_server_add_account_auth.go
  x/did/keeper/msg_server_update_account_auths.go
  x/did/module_simulation.go
  x/did/simulation/update_account_auths.go
  x/did/types/codec.go
  x/did/types/errors.go
  x/did/types/message_update_account_auths.go
  x/did/types/message_update_account_auths_test.go
  x/did/types/tx.pb.go
Labels: C:CLI

add message UpadteAccountAuths
  docs/static/openapi.yml
  proto/sao/did/tx.proto
  x/did/client/cli/tx.go
  x/did/client/cli/tx_update_account_auths.go
  x/did/keeper/msg_server_add_account_auth.go
  x/did/keeper/msg_server_update_account_auths.go
  x/did/module_simulation.go
  x/did/simulation/update_account_auths.go
  x/did/types/codec.go
  x/did/types/errors.go
  x/did/types/message_update_account_auths.go
  x/did/types/message_update_account_auths_test.go
  x/did/types/tx.pb.go
Labels: C:CLI

add query GetAllAccountAuths
  docs/static/openapi.yml
  proto/sao/did/query.proto
  x/did/client/cli/query.go
  x/did/client/cli/query_get_all_account_auth.go
  x/did/keeper/grpc_query_get_all_account_auth.go
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
Labels: C:CLI

add query GetAllAccountAuths
  docs/static/openapi.yml
  proto/sao/did/query.proto
  x/did/client/cli/query.go
  x/did/client/cli/query_get_all_account_auth.go
  x/did/keeper/grpc_query_get_all_account_auth.go
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
Labels: C:CLI

renew proposal
  go.mod
  go.sum
  proto/sao/sao/proposal.proto
  proto/sao/sao/query.proto
  proto/sao/sao/renew_proposal.proto
  proto/sao/sao/tx.proto
  x/sao/client/cli/tx_renew.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/message_renew.go
  x/sao/types/message_store.go
  x/sao/types/proposal.pb.go
  x/sao/types/query.pb.go
  x/sao/types/renew_proposal.pb.go
  x/sao/types/tx.pb.go
Labels: C:CLI

renew proposal
  go.mod
  go.sum
  proto/sao/sao/proposal.proto
  proto/sao/sao/query.proto
  proto/sao/sao/renew_proposal.proto
  proto/sao/sao/tx.proto
  x/sao/client/cli/tx_renew.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/message_renew.go
  x/sao/types/message_store.go
  x/sao/types/proposal.pb.go
  x/sao/types/query.pb.go
  x/sao/types/renew_proposal.pb.go
  x/sao/types/tx.pb.go
Labels: C:CLI

add type SidDocument SidDocumentVersion
  docs/static/openapi.yml
  proto/sao/did/genesis.proto
  proto/sao/did/query.proto
  proto/sao/did/sid_document.proto
  proto/sao/did/sid_document_version.proto
  x/did/client/cli/query.go
  x/did/client/cli/query_sid_document.go
  x/did/client/cli/query_sid_document_test.go
  x/did/client/cli/query_sid_document_version.go
  x/did/client/cli/query_sid_document_version_test.go
  x/did/genesis.go
  x/did/genesis_test.go
  x/did/keeper/grpc_query_sid_document.go
  x/did/keeper/grpc_query_sid_document_test.go
  x/did/keeper/grpc_query_sid_document_version.go
  x/did/keeper/grpc_query_sid_document_version_test.go
  x/did/keeper/sid_document.go
  x/did/keeper/sid_document_test.go
  x/did/keeper/sid_document_version.go
  x/did/keeper/sid_document_version_test.go
  x/did/types/genesis.go
  x/did/types/genesis.pb.go
  x/did/types/genesis_test.go
  x/did/types/key_sid_document.go
  x/did/types/key_sid_document_version.go
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
  x/did/types/sid_document.pb.go
  x/did/types/sid_document_version.pb.go
Labels: C:CLI

add type SidDocument SidDocumentVersion
  docs/static/openapi.yml
  proto/sao/did/genesis.proto
  proto/sao/did/query.proto
  proto/sao/did/sid_document.proto
  proto/sao/did/sid_document_version.proto
  x/did/client/cli/query.go
  x/did/client/cli/query_sid_document.go
  x/did/client/cli/query_sid_document_test.go
  x/did/client/cli/query_sid_document_version.go
  x/did/client/cli/query_sid_document_version_test.go
  x/did/genesis.go
  x/did/genesis_test.go
  x/did/keeper/grpc_query_sid_document.go
  x/did/keeper/grpc_query_sid_document_test.go
  x/did/keeper/grpc_query_sid_document_version.go
  x/did/keeper/grpc_query_sid_document_version_test.go
  x/did/keeper/sid_document.go
  x/did/keeper/sid_document_test.go
  x/did/keeper/sid_document_version.go
  x/did/keeper/sid_document_version_test.go
  x/did/types/genesis.go
  x/did/types/genesis.pb.go
  x/did/types/genesis_test.go
  x/did/types/key_sid_document.go
  x/did/types/key_sid_document_version.go
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
  x/did/types/sid_document.pb.go
  x/did/types/sid_document_version.pb.go
Labels: C:CLI

add message UpdateSidDocument
  docs/static/openapi.yml
  proto/sao/did/tx.proto
  x/did/client/cli/tx.go
  x/did/client/cli/tx_update_sid_document.go
  x/did/keeper/msg_server_update_sid_document.go
  x/did/module_simulation.go
  x/did/simulation/update_sid_document.go
  x/did/types/codec.go
  x/did/types/errors.go
  x/did/types/message_update_sid_document.go
  x/did/types/message_update_sid_document_test.go
  x/did/types/tx.pb.go
Labels: C:CLI

add message UpdateSidDocument
  docs/static/openapi.yml
  proto/sao/did/tx.proto
  x/did/client/cli/tx.go
  x/did/client/cli/tx_update_sid_document.go
  x/did/keeper/msg_server_update_sid_document.go
  x/did/module_simulation.go
  x/did/simulation/update_sid_document.go
  x/did/types/codec.go
  x/did/types/errors.go
  x/did/types/message_update_sid_document.go
  x/did/types/message_update_sid_document_test.go
  x/did/types/tx.pb.go
Labels: C:CLI

return error if auth exists (AddAccountAuth)
  x/did/keeper/msg_server_add_account_auth.go
Labels: none

return error if auth exists (AddAccountAuth)
  x/did/keeper/msg_server_add_account_auth.go
Labels: none

add operation in shard event
  x/order/keeper/order_management.go
  x/order/types/keys.go
Labels: C:x/order

add operation in shard event
  x/order/keeper/order_management.go
  x/order/types/keys.go
Labels: C:x/order

add type PastSeeds ,message AddPastSeed
  docs/static/openapi.yml
  proto/sao/did/genesis.proto
  proto/sao/did/past_seeds.proto
  proto/sao/did/query.proto
  proto/sao/did/tx.proto
  x/did/client/cli/query.go
  x/did/client/cli/query_past_seeds.go
  x/did/client/cli/query_past_seeds_test.go
  x/did/client/cli/tx.go
  x/did/client/cli/tx_add_past_seed.go
  x/did/genesis.go
  x/did/genesis_test.go
  x/did/keeper/grpc_query_past_seeds.go
  x/did/keeper/grpc_query_past_seeds_test.go
  x/did/keeper/msg_server_add_past_seed.go
  x/did/keeper/msg_server_update_account_auths.go
  x/did/keeper/past_seeds.go
  x/did/keeper/past_seeds_test.go
  x/did/module_simulation.go
  x/did/simulation/add_past_seed.go
  x/did/types/codec.go
  x/did/types/errors.go
  x/did/types/genesis.go
  x/did/types/genesis.pb.go
  x/did/types/genesis_test.go
  x/did/types/key_past_seeds.go
  x/did/types/message_add_past_seed.go
  x/did/types/message_add_past_seed_test.go
  x/did/types/past_seeds.pb.go
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
  x/did/types/tx.pb.go
Labels: C:CLI

add type PastSeeds ,message AddPastSeed
  docs/static/openapi.yml
  proto/sao/did/genesis.proto
  proto/sao/did/past_seeds.proto
  proto/sao/did/query.proto
  proto/sao/did/tx.proto
  x/did/client/cli/query.go
  x/did/client/cli/query_past_seeds.go
  x/did/client/cli/query_past_seeds_test.go
  x/did/client/cli/tx.go
  x/did/client/cli/tx_add_past_seed.go
  x/did/genesis.go
  x/did/genesis_test.go
  x/did/keeper/grpc_query_past_seeds.go
  x/did/keeper/grpc_query_past_seeds_test.go
  x/did/keeper/msg_server_add_past_seed.go
  x/did/keeper/msg_server_update_account_auths.go
  x/did/keeper/past_seeds.go
  x/did/keeper/past_seeds_test.go
  x/did/module_simulation.go
  x/did/simulation/add_past_seed.go
  x/did/types/codec.go
  x/did/types/errors.go
  x/did/types/genesis.go
  x/did/types/genesis.pb.go
  x/did/types/genesis_test.go
  x/did/types/key_past_seeds.go
  x/did/types/message_add_past_seed.go
  x/did/types/message_add_past_seed_test.go
  x/did/types/past_seeds.pb.go
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
  x/did/types/tx.pb.go
Labels: C:CLI

.github/labeler.yml:

"C:x/sao":
  - x/upgrade/**/*
"C:x/storage":
  - x/storage/**/*
"C:x/order":
  - x/order/**/*
"C:x/earn":
  - x/earn/**/*
"Type: Build":
  - Makefile
  - Dockerfile
"Type: CI":
  - .github/**/*.yml
  - .golangci.yml
"C:CLI":
  - x/*/client/**/*
"Type: ADR":
  - docs/architecture/**/*
