Repository SAONetwork/sao-consensus, changes with the labels that .github/labeler.yml gives for each.
All labels: C:x/sao, C:x/storage, C:x/order, C:x/earn, Type: Build, Type: CI, C:CLI, Type: ADR

ci: update action/stale version
  .github/workflows/stale.yml
Labels: Type: CI

ci: update tools & docs
  .github/dependabot.yml
  .github/workflows/release.yml
  .gitignore
  CONTRIBUTING.md
  Makefile
  contrib/devtools/Makefile
  contrib/githooks/README.md
  contrib/githooks/pre-commit
Labels: Type: Build, Type: CI

ci: lint
  .github/workflows/lint.yml
  app/app.go
  app/export.go
  contrib/githooks/pre-commit
  x/sao/client/cli/tx.go
  x/sao/keeper/keeper.go
  x/sao/module_simulation.go
Labels: Type: CI, C:CLI

node impl
  go.mod
  go.sum
  x/node/keeper/msg_server_login.go
  x/node/keeper/msg_server_login_test.go
  x/node/keeper/msg_server_logout.go
  x/node/keeper/msg_server_logout_test.go
  x/node/keeper/msg_server_reset.go
  x/node/keeper/msg_server_reset_test.go
  x/node/types/errors.go
Labels: none

node impl
  go.mod
  go.sum
  vue/src/store/generated/saonetwork.sao.node/index.ts
  x/node/keeper/msg_server_login.go
  x/node/keeper/msg_server_login_test.go
  x/node/keeper/msg_server_logout.go
  x/node/keeper/msg_server_logout_test.go
  x/node/keeper/msg_server_reset.go
  x/node/keeper/msg_server_reset_test.go
  x/node/types/errors.go
  x/node/types/keys.go
Labels: none

node impl
  .github/ISSUE_TEMPLATE/module-readiness-checklist.md
  .github/PULL_REQUEST_TEMPLATE/docs.md
  .github/PULL_REQUEST_TEMPLATE/other.md
  go.mod
  go.sum
  vue/src/store/generated/saonetwork.sao.node/index.ts
  x/node/keeper/msg_server_login.go
  x/node/keeper/msg_server_reset.go
Labels: none

add pledge
  app/app.go
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/shard.proto
  proto/sao/tx.proto
  testutil/keeper/sao.go
  ts-client/saonetwork.sao.sao/module.ts
  ts-client/saonetwork.sao.sao/registry.ts
  ts-client/saonetwork.sao.sao/rest.ts
  ts-client/saonetwork.sao.sao/types/sao/shard.ts
  ts-client/saonetwork.sao.sao/types/sao/tx.ts
  vue/package-lock.json
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/node/keeper/msg_server_login.go
  x/node/keeper/msg_server_logout.go
  x/node/keeper/msg_server_reset.go
  x/node/types/errors.go
  x/sao/client/cli/tx_complete.go
  x/sao/keeper/keeper.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_complete_test.go
  x/sao/keeper/msg_server_reject.go
  x/sao/keeper/msg_server_terminate.go
  x/sao/types/errors.go
  x/sao/types/expected_keepers.go
  x/sao/types/message_complete.go
  x/sao/types/shard.pb.go
  x/sao/types/tx.pb.go
Labels: C:CLI

add node reputation and random sp
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/node/node.proto
  ts-client/saonetwork.sao.node/module.ts
  ts-client/saonetwork.sao.node/registry.ts
  ts-client/saonetwork.sao.node/rest.ts
  ts-client/saonetwork.sao.node/types/node/node.ts
  ts-client/saonetwork.sao.sao/module.ts
  ts-client/saonetwork.sao.sao/registry.ts
  ts-client/saonetwork.sao.sao/rest.ts
  ts-client/saonetwork.sao.sao/types/sao/shard.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/node/keeper/msg_server_login.go
  x/node/keeper/msg_server_logout.go
  x/node/keeper/msg_server_reset.go
  x/node/keeper/reputation.go
  x/node/keeper/reputation_test.go
  x/node/types/node.pb.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_reject.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/expected_keepers.go
Labels: none

clean expired order
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/sao/abci.go
  x/sao/keeper/clean.go
  x/sao/module.go
Labels: none

add pledge info
  docs/static/openapi.yml
  proto/earn/genesis.proto
  proto/earn/pledge.proto
  proto/earn/query.proto
  ts-client/saonetwork.sao.earn/rest.ts
  ts-client/saonetwork.sao.earn/types.ts
  ts-client/saonetwork.sao.earn/types/earn/genesis.ts
  ts-client/saonetwork.sao.earn/types/earn/pledge.ts
  ts-client/saonetwork.sao.earn/types/earn/query.ts
  vue/src/store/generated/saonetwork.sao.earn/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/earn/client/cli/query.go
  x/earn/client/cli/query_pledge.go
  x/earn/client/cli/query_pledge_test.go
  x/earn/genesis.go
  x/earn/genesis_test.go
  x/earn/keeper/grpc_query_pledge.go
  x/earn/keeper/grpc_query_pledge_test.go
  x/earn/keeper/pledge.go
  x/earn/keeper/pledge_test.go
  x/earn/types/genesis.go
  x/earn/types/genesis.pb.go
  x/earn/types/genesis_test.go
  x/earn/types/key_pledge.go
  x/earn/types/pledge.pb.go
  x/earn/types/query.pb.go
  x/earn/types/query.pb.gw.go
Labels: C:x/earn, C:CLI

add deposit
  app/app.go
  docs/static/openapi.yml
  proto/earn/params.proto
  proto/earn/pledge.proto
  proto/earn/pool.proto
  ts-client/saonetwork.sao.earn/rest.ts
  ts-client/saonetwork.sao.earn/types/earn/params.ts
  ts-client/saonetwork.sao.earn/types/earn/pledge.ts
  ts-client/saonetwork.sao.earn/types/earn/pool.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/earn/abci.go
  x/earn/keeper/keeper.go
  x/earn/keeper/order.go
  x/earn/module.go
  x/earn/types/errors.go
  x/earn/types/expected_keepers.go
  x/earn/types/genesis.go
  x/earn/types/params.pb.go
  x/earn/types/pledge.pb.go
  x/earn/types/pool.pb.go
  x/sao/keeper/keeper.go
  x/sao/keeper/msg_server_complete.go
  x/sao/types/expected_keepers.go
Labels: C:x/earn

add release pledget and claim reward
  docs/static/openapi.yml
  proto/earn/tx.proto
  ts-client/saonetwork.sao.earn/module.ts
  ts-client/saonetwork.sao.earn/registry.ts
  ts-client/saonetwork.sao.earn/rest.ts
  ts-client/saonetwork.sao.earn/types/earn/tx.ts
  vue/src/store/generated/saonetwork.sao.earn/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/earn/abci.go
  x/earn/client/cli/tx.go
  x/earn/client/cli/tx_claim_reward.go
  x/earn/keeper/msg_server_claim_reward.go
  x/earn/keeper/order.go
  x/earn/module_simulation.go
  x/earn/simulation/claim_reward.go
  x/earn/types/codec.go
  x/earn/types/errors.go
  x/earn/types/message_claim_reward.go
  x/earn/types/message_claim_reward_test.go
  x/earn/types/tx.pb.go
Labels: C:x/earn, C:CLI

mint storage coin
  app/app.go
  config.yml
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/earn/params.proto
  proto/earn/pool.proto
  ts-client/cosmos.authz.v1beta1/module.ts
  ts-client/cosmos.authz.v1beta1/registry.ts
  ts-client/cosmos.bank.v1beta1/module.ts
  ts-client/cosmos.bank.v1beta1/registry.ts
  ts-client/cosmos.distribution.v1beta1/module.ts
  ts-client/cosmos.distribution.v1beta1/registry.ts
  ts-client/cosmos.gov.v1/module.ts
  ts-client/cosmos.gov.v1/registry.ts
  ts-client/cosmos.gov.v1beta1/module.ts
  ts-client/cosmos.gov.v1beta1/registry.ts
  ts-client/cosmos.group.v1/module.ts
  ts-client/cosmos.group.v1/registry.ts
  ts-client/cosmos.staking.v1beta1/module.ts
  ts-client/cosmos.staking.v1beta1/registry.ts
  ts-client/cosmos.vesting.v1beta1/module.ts
  ts-client/cosmos.vesting.v1beta1/registry.ts
  ts-client/saonetwork.sao.earn/rest.ts
  ts-client/saonetwork.sao.earn/types/earn/params.ts
  ts-client/saonetwork.sao.earn/types/earn/pool.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/earn/abci.go
  x/earn/module.go
  x/earn/types/genesis.go
  x/earn/types/params.pb.go
  x/earn/types/pool.pb.go
  x/node/module.go
  x/sao/abci.go
Labels: C:x/earn

set earn account module
  app/app.go
  docs/static/openapi.yml
  proto/earn/params.proto
  ts-client/saonetwork.sao.earn/rest.ts
  ts-client/saonetwork.sao.earn/types/earn/params.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/earn/abci.go
  x/earn/genesis.go
  x/earn/keeper/params.go
  x/earn/keeper/params_test.go
  x/earn/module_simulation.go
  x/earn/types/expected_keepers.go
  x/earn/types/params.go
  x/earn/types/params.pb.go
  x/sao/abci.go
Labels: C:x/earn

claim reward
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/earn/abci.go
  x/earn/keeper/grpc_query_pledge.go
  x/earn/keeper/order.go
  x/sao/keeper/msg_server_store.go
Labels: C:x/earn

fix vue auto-generate
  vue/src/store/generated/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/node/keeper/msg_server_login.go
  x/node/keeper/msg_server_logout.go
  x/node/keeper/msg_server_reset.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_reject.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_terminate.go
Labels: none

fix vue auto-generate
  vue/src/store/generated/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/node/keeper/msg_server_login.go
  x/node/keeper/msg_server_logout.go
  x/node/keeper/msg_server_reset.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_reject.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_terminate.go
Labels: none

add order in new shard event
  x/sao/keeper/msg_server_store.go
Labels: none

add order in new shard event
  x/sao/keeper/msg_server_store.go
Labels: none

gateway prepare data first
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/order.proto
  proto/sao/tx.proto
  ts-client/saonetwork.sao.node/module.ts
  ts-client/saonetwork.sao.node/registry.ts
  ts-client/saonetwork.sao.node/rest.ts
  ts-client/saonetwork.sao.sao/module.ts
  ts-client/saonetwork.sao.sao/registry.ts
  ts-client/saonetwork.sao.sao/rest.ts
  ts-client/saonetwork.sao.sao/types/sao/order.ts
  ts-client/saonetwork.sao.sao/types/sao/tx.ts
  vue/src/store/generated/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/sao/client/cli/tx.go
  x/sao/client/cli/tx_ready.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/order_shard.go
  x/sao/module_simulation.go
  x/sao/simulation/ready.go
  x/sao/types/codec.go
  x/sao/types/constants.go
  x/sao/types/errors.go
  x/sao/types/keys.go
  x/sao/types/message_ready.go
  x/sao/types/message_ready_test.go
  x/sao/types/message_store.go
  x/sao/types/order.pb.go
  x/sao/types/tx.pb.go
Labels: C:CLI

gateway prepare data first (#13)
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/order.proto
  proto/sao/tx.proto
  ts-client/saonetwork.sao.node/module.ts
  ts-client/saonetwork.sao.node/registry.ts
  ts-client/saonetwork.sao.node/rest.ts
  ts-client/saonetwork.sao.sao/module.ts
  ts-client/saonetwork.sao.sao/registry.ts
  ts-client/saonetwork.sao.sao/rest.ts
  ts-client/saonetwork.sao.sao/types/sao/order.ts
  ts-client/saonetwork.sao.sao/types/sao/tx.ts
  vue/src/store/generated/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/sao/client/cli/tx.go
  x/sao/client/cli/tx_ready.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/order_shard.go
  x/sao/module_simulation.go
  x/sao/simulation/ready.go
  x/sao/types/codec.go
  x/sao/types/constants.go
  x/sao/types/errors.go
  x/sao/types/keys.go
  x/sao/types/message_ready.go
  x/sao/types/message_ready_test.go
  x/sao/types/message_store.go
  x/sao/types/order.pb.go
  x/sao/types/tx.pb.go
Labels: C:CLI

gateway prepare data first (#13)
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/order.proto
  proto/sao/tx.proto
  ts-client/saonetwork.sao.node/module.ts
  ts-client/saonetwork.sao.node/registry.ts
  ts-client/saonetwork.sao.node/rest.ts
  ts-client/saonetwork.sao.sao/module.ts
  ts-client/saonetwork.sao.sao/registry.ts
  ts-client/saonetwork.sao.sao/rest.ts
  ts-client/saonetwork.sao.sao/types/sao/order.ts
  ts-client/saonetwork.sao.sao/types/sao/tx.ts
  vue/src/store/generated/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/sao/client/cli/tx.go
  x/sao/client/cli/tx_ready.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/order_shard.go
  x/sao/module_simulation.go
  x/sao/simulation/ready.go
  x/sao/types/codec.go
  x/sao/types/constants.go
  x/sao/types/errors.go
  x/sao/types/keys.go
  x/sao/types/message_ready.go
  x/sao/types/message_ready_test.go
  x/sao/types/message_store.go
  x/sao/types/order.pb.go
  x/sao/types/tx.pb.go
Labels: C:CLI

add metadata when store
  go.mod
  go.sum
  proto/sao/order.proto
  proto/sao/tx.proto
  x/sao/client/cli/tx_store.go
  x/sao/types/message_store.go
  x/sao/types/order.pb.go
  x/sao/types/tx.pb.go
Labels: C:CLI

add metadata when store
  go.mod
  go.sum
  proto/sao/order.proto
  proto/sao/tx.proto
  x/sao/client/cli/tx_store.go
  x/sao/types/message_store.go
  x/sao/types/order.pb.go
  x/sao/types/tx.pb.go
Labels: C:CLI

add metadata and model
  docs/static/openapi.yml
  proto/model/genesis.proto
  proto/model/metadata.proto
  proto/model/model.proto
  proto/model/query.proto
  ts-client/saonetwork.sao.model/rest.ts
  ts-client/saonetwork.sao.model/types.ts
  ts-client/saonetwork.sao.model/types/model/genesis.ts
  ts-client/saonetwork.sao.model/types/model/metadata.ts
  ts-client/saonetwork.sao.model/types/model/model.ts
  ts-client/saonetwork.sao.model/types/model/query.ts
  vue/src/store/generated/saonetwork.sao.model/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/model/client/cli/query.go
  x/model/client/cli/query_metadata.go
  x/model/client/cli/query_metadata_test.go
  x/model/client/cli/query_model.go
  x/model/client/cli/query_model_test.go
  x/model/genesis.go
  x/model/genesis_test.go
  x/model/keeper/grpc_query_metadata.go
  x/model/keeper/grpc_query_metadata_test.go
  x/model/keeper/grpc_query_model.go
  x/model/keeper/grpc_query_model_test.go
  x/model/keeper/metadata.go
  x/model/keeper/metadata_test.go
  x/model/keeper/model.go
  x/model/keeper/model_test.go
  x/model/types/genesis.go
  x/model/types/genesis.pb.go
  x/model/types/genesis_test.go
  x/model/types/key_metadata.go
  x/model/types/key_model.go
  x/model/types/metadata.pb.go
  x/model/types/model.pb.go
  x/model/types/query.pb.go
  x/model/types/query.pb.gw.go
Labels: C:CLI

add metadata and model
  docs/static/openapi.yml
  proto/model/genesis.proto
  proto/model/metadata.proto
  proto/model/model.proto
  proto/model/query.proto
  ts-client/saonetwork.sao.model/rest.ts
  ts-client/saonetwork.sao.model/types.ts
  ts-client/saonetwork.sao.model/types/model/genesis.ts
  ts-client/saonetwork.sao.model/types/model/metadata.ts
  ts-client/saonetwork.sao.model/types/model/model.ts
  ts-client/saonetwork.sao.model/types/model/query.ts
  vue/src/store/generated/saonetwork.sao.model/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/model/client/cli/query.go
  x/model/client/cli/query_metadata.go
  x/model/client/cli/query_metadata_test.go
  x/model/client/cli/query_model.go
  x/model/client/cli/query_model_test.go
  x/model/genesis.go
  x/model/genesis_test.go
  x/model/keeper/grpc_query_metadata.go
  x/model/keeper/grpc_query_metadata_test.go
  x/model/keeper/grpc_query_model.go
  x/model/keeper/grpc_query_model_test.go
  x/model/keeper/metadata.go
  x/model/keeper/metadata_test.go
  x/model/keeper/model.go
  x/model/keeper/model_test.go
  x/model/types/genesis.go
  x/model/types/genesis.pb.go
  x/model/types/genesis_test.go
  x/model/types/key_metadata.go
  x/model/types/key_model.go
  x/model/types/metadata.pb.go
  x/model/types/model.pb.go
  x/model/types/query.pb.go
  x/model/types/query.pb.gw.go
Labels: C:CLI

store metadata when order complete
  app/app.go
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/model/metadata.proto
  ts-client/saonetwork.sao.model/rest.ts
  ts-client/saonetwork.sao.model/types/model/metadata.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/model/keeper/data.go
  x/model/types/errors.go
  x/model/types/key_model.go
  x/model/types/metadata.pb.go
  x/sao/keeper/keeper.go
  x/sao/keeper/msg_server_complete.go
  x/sao/types/expected_keepers.go
Labels: none

store metadata when order complete
  app/app.go
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/model/metadata.proto
  ts-client/saonetwork.sao.model/rest.ts
  ts-client/saonetwork.sao.model/types/model/metadata.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/model/keeper/data.go
  x/model/types/errors.go
  x/model/types/key_model.go
  x/model/types/metadata.pb.go
  x/sao/keeper/keeper.go
  x/sao/keeper/msg_server_complete.go
  x/sao/types/expected_keepers.go
Labels: none

fix store bug
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/model/keeper/data.go
  x/sao/client/cli/tx_store.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_store.go
Labels: C:CLI

fix store bug
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/model/keeper/data.go
  x/sao/client/cli/tx_store.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_store.go
Labels: C:CLI

query metadta with shards
  app/app.go
  docs/static/openapi.yml
  proto/model/metadata.proto
  proto/model/query.proto
  ts-client/saonetwork.sao.model/rest.ts
  ts-client/saonetwork.sao.model/types/model/metadata.ts
  ts-client/saonetwork.sao.model/types/model/query.ts
  ts-client/saonetwork.sao.model/types/sao/shard.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/model/keeper/grpc_query_metadata.go
  x/model/keeper/keeper.go
  x/model/types/expected_keepers.go
  x/model/types/metadata.pb.go
  x/model/types/query.pb.go
Labels: none

query metadta with shards
  app/app.go
  docs/static/openapi.yml
  proto/model/metadata.proto
  proto/model/query.proto
  ts-client/saonetwork.sao.model/rest.ts
  ts-client/saonetwork.sao.model/types/model/metadata.ts
  ts-client/saonetwork.sao.model/types/model/query.ts
  ts-client/saonetwork.sao.model/types/sao/shard.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/model/keeper/grpc_query_metadata.go
  x/model/keeper/keeper.go
  x/model/types/expected_keepers.go
  x/model/types/metadata.pb.go
  x/model/types/query.pb.go
Labels: none

query shard meta
  app/app.go
  docs/static/openapi.yml
  proto/model/query.proto
  proto/model/shard_meta.proto
  ts-client/saonetwork.sao.model/rest.ts
  ts-client/saonetwork.sao.model/types.ts
  ts-client/saonetwork.sao.model/types/model/query.ts
  ts-client/saonetwork.sao.model/types/model/shard_meta.ts
  vue/src/store/generated/saonetwork.sao.model/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/model/keeper/grpc_query_metadata.go
  x/model/keeper/keeper.go
  x/model/types/expected_keepers.go
  x/model/types/query.pb.go
  x/model/types/shard_meta.pb.go
Labels: none

query shard meta
  app/app.go
  docs/static/openapi.yml
  proto/model/query.proto
  proto/model/shard_meta.proto
  ts-client/saonetwork.sao.model/rest.ts
  ts-client/saonetwork.sao.model/types.ts
  ts-client/saonetwork.sao.model/types/model/query.ts
  ts-client/saonetwork.sao.model/types/model/shard_meta.ts
  vue/src/store/generated/saonetwork.sao.model/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/model/keeper/grpc_query_metadata.go
  x/model/keeper/keeper.go
  x/model/types/expected_keepers.go
  x/model/types/query.pb.go
  x/model/types/shard_meta.pb.go
Labels: none

fix order id bug
  x/model/keeper/data.go
Labels: none

fix order id bug
  x/model/keeper/data.go
Labels: none

update meta
  go.mod
  go.sum
  proto/model/metadata.proto
  x/model/keeper/data.go
  x/model/types/errors.go
  x/model/types/metadata.pb.go
Labels: none

update meta
  go.mod
  go.sum
  proto/model/metadata.proto
  x/model/keeper/data.go
  x/model/types/errors.go
  x/model/types/metadata.pb.go
Labels: none

update order id when update metadata
  x/model/keeper/data.go
Labels: none

update order id when update metadata
  x/model/keeper/data.go
Labels: none

.github/labeler.yml:

"C:x/sao":
  - x/upgrade/**/*
"C:x/storage":
  - x/storage/**/*
"C:x/order":
  - x/order/**/*
"C:x/earn":
  - x/earn/**/*
"Type: Build":
  - Makefile
  - Dockerfile
"Type: CI":
  - .github/**/*.yml
  - .golangci.yml
"C:CLI":
  - x/*/client/**/*
"Type: ADR":
  - docs/architecture/**/*
