Repository SAONetwork/sao-consensus, changes with the labels that .github/labeler.yml gives for each.
All labels: C:x/sao, C:x/storage, C:x/order, C:x/earn, Type: Build, Type: CI, C:CLI, Type: ADR

.github/labeler.yml:

"C:x/sao":
  - x/upgrade/**/*
"C:x/storage":
  - x/storage/**/*
"C:x/order":
  - x/order/**/*
"C:x/earn":
  - x/earn/**/*
"Type: Build":
  - Makefile
  - Dockerfile
"Type: CI":
  - .github/**/*.yml
  - .golangci.yml
"C:CLI":
  - x/*/client/**/*
"Type: ADR":
  - docs/architecture/**/*

refactor: remove order instead of set cancel/terminate status (#36)
  CHANGELOG.md
  x/model/keeper/data_management.go
  x/model/types/expected_keepers.go
  x/order/keeper/order_management.go
  x/order/types/errors.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

handle expired order and finished order
  CHANGELOG.md
  proto/sao/model/expired_order.proto
  proto/sao/model/genesis.proto
  proto/sao/model/order_finish.proto
  proto/sao/model/query.proto
  x/model/abci.go
  x/model/abic.go
  x/model/client/cli/query.go
  x/model/client/cli/query_expired_order.go
  x/model/client/cli/query_expired_order_test.go
  x/model/client/cli/query_order_finish.go
  x/model/client/cli/query_order_finish_test.go
  x/model/genesis.go
  x/model/genesis_test.go
  x/model/keeper/data_management.go
  x/model/keeper/expired_data.go
  x/model/keeper/expired_order.go
  x/model/keeper/expired_order_test.go
  x/model/keeper/grpc_query_expired_order.go
  x/model/keeper/grpc_query_expired_order_test.go
  x/model/keeper/grpc_query_order_finish.go
  x/model/keeper/grpc_query_order_finish_test.go
  x/model/keeper/order_finish.go
  x/model/keeper/order_finish_test.go
  x/model/types/expired_order.pb.go
  x/model/types/genesis.pb.go
  x/model/types/key_expired_order.go
  x/model/types/key_order_finish.go
  x/model/types/order_finish.pb.go
  x/model/types/query.pb.go
  x/model/types/query.pb.gw.go
  x/order/types/keys.go
  x/sao/keeper/msg_server_store.go
Labels: C:x/order, C:CLI

add ignite scarffold placeholder
  go.mod
  go.sum
  proto/sao/sao/genesis.proto
  x/sao/genesis.go
  x/sao/types/genesis.go
Labels: none

Revert "handle expired order and finished order"
  CHANGELOG.md
  proto/sao/model/expired_order.proto
  proto/sao/model/genesis.proto
  proto/sao/model/order_finish.proto
  proto/sao/model/query.proto
  x/model/abci.go
  x/model/abic.go
  x/model/client/cli/query.go
  x/model/client/cli/query_expired_order.go
  x/model/client/cli/query_expired_order_test.go
  x/model/client/cli/query_order_finish.go
  x/model/client/cli/query_order_finish_test.go
  x/model/genesis.go
  x/model/genesis_test.go
  x/model/keeper/data_management.go
  x/model/keeper/expired_data.go
  x/model/keeper/expired_order.go
  x/model/keeper/expired_order_test.go
  x/model/keeper/grpc_query_expired_order.go
  x/model/keeper/grpc_query_expired_order_test.go
  x/model/keeper/grpc_query_order_finish.go
  x/model/keeper/grpc_query_order_finish_test.go
  x/model/keeper/order_finish.go
  x/model/keeper/order_finish_test.go
  x/model/types/expired_order.pb.go
  x/model/types/genesis.pb.go
  x/model/types/key_expired_order.go
  x/model/types/key_order_finish.go
  x/model/types/order_finish.pb.go
  x/model/types/query.pb.go
  x/model/types/query.pb.gw.go
  x/order/types/keys.go
  x/sao/keeper/msg_server_store.go
Labels: C:x/order, C:CLI

init TimeoutOrder in sao module
  CHANGELOG.md
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/sao/genesis.proto
  proto/sao/sao/query.proto
  proto/sao/sao/timeout_order.proto
  x/sao/client/cli/query.go
  x/sao/client/cli/query_timeout_order.go
  x/sao/client/cli/query_timeout_order_test.go
  x/sao/genesis.go
  x/sao/genesis_test.go
  x/sao/keeper/grpc_query_timeout_order.go
  x/sao/keeper/grpc_query_timeout_order_test.go
  x/sao/keeper/timeout_order.go
  x/sao/keeper/timeout_order_test.go
  x/sao/types/genesis.go
  x/sao/types/genesis.pb.go
  x/sao/types/genesis_test.go
  x/sao/types/key_timeout_order.go
  x/sao/types/query.pb.go
  x/sao/types/query.pb.gw.go
  x/sao/types/timeout_order.pb.go
Labels: C:CLI

feat: handle timeout order
  proto/sao/order/order.proto
  x/order/keeper/grpc_query_order.go
  x/order/types/keys.go
  x/order/types/order.pb.go
  x/sao/abci.go
  x/sao/keeper/grpc_query_metadata.go
  x/sao/keeper/keeper.go
  x/sao/keeper/msg_server_reject.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/timeout_management.go
  x/sao/keeper/timeout_order.go
  x/sao/module.go
  x/sao/types/constants.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

fix random sp, add logs
  CHANGELOG.md
  docs/static/openapi.yml
  x/node/keeper/reputation.go
  x/sao/keeper/timeout_management.go
Labels: none

check if the timeout is greater than the expiration time at the beginning
  x/sao/keeper/timeout_management.go
Labels: none

Restore the expire field, change timeout to a new field
  docs/static/openapi.yml
  proto/sao/order/order.proto
  x/order/types/order.pb.go
Labels: C:x/order

refactor shards update in timeout management
  x/sao/keeper/timeout_management.go
Labels: none

remove msg_reject
  proto/sao/sao/tx.proto
  x/sao/client/cli/tx.go
  x/sao/client/cli/tx_reject.go
  x/sao/keeper/msg_server_reject.go
  x/sao/module_simulation.go
  x/sao/simulation/reject.go
  x/sao/types/codec.go
  x/sao/types/message_reject.go
  x/sao/types/message_reject_test.go
  x/sao/types/tx.pb.go
Labels: C:CLI

add expire field return in grpc
  x/order/keeper/grpc_query_order.go
Labels: C:x/order

fix event
  x/sao/abci.go
  x/sao/keeper/timeout_management.go
  x/sao/types/keys.go
Labels: none

refactor: metadata
  CHANGELOG.md
  docs/static/openapi.yml
  proto/sao/model/metadata.proto
  proto/sao/order/order.proto
  x/model/keeper/data_management.go
  x/model/types/constants.go
  x/model/types/errors.go
  x/model/types/metadata.pb.go
  x/order/keeper/grpc_query_order.go
  x/order/types/order.pb.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_terminate.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

refactor: metadata (#38)
  CHANGELOG.md
  docs/static/openapi.yml
  proto/sao/model/metadata.proto
  proto/sao/order/order.proto
  x/model/keeper/data_management.go
  x/model/types/constants.go
  x/model/types/errors.go
  x/model/types/metadata.pb.go
  x/order/keeper/grpc_query_order.go
  x/order/types/order.pb.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_terminate.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

node info enhancement and UT cases fixing
  proto/sao/node/node.proto
  proto/sao/node/tx.proto
  x/did/types/genesis_test.go
  x/node/keeper/msg_server_create_test.go
  x/node/keeper/msg_server_reset.go
  x/node/keeper/msg_server_reset_test.go
  x/node/types/node.pb.go
  x/node/types/tx.pb.go
Labels: none

node info enhancement and UT cases fixing
  proto/sao/node/node.proto
  x/node/keeper/msg_server_reset.go
  x/node/types/node.pb.go
Labels: none

update msg sender validation logic to support tx address pool
  proto/sao/node/node.proto
  proto/sao/node/tx.proto
  proto/sao/sao/tx.proto
  x/node/keeper/msg_server_reset.go
  x/node/types/node.pb.go
  x/node/types/tx.pb.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_terminate.go
  x/sao/keeper/msg_server_updata_permission.go
  x/sao/types/tx.pb.go
Labels: none

fix: update timeout shards
  CHANGELOG.md
  x/sao/keeper/timeout_management.go
Labels: none

fix pledge address to provider, add creator verify if creator is user
  CHANGELOG.md
  x/did/keeper/did_management.go
  x/did/keeper/msg_server_binding.go
  x/did/keeper/msg_server_update.go
  x/did/keeper/msg_server_update_payment_address.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/expected_keepers.go
Labels: none

fix: update timeout shards (#40)
  CHANGELOG.md
  x/sao/keeper/timeout_management.go
Labels: none

refactor: node info enhancement for UI display and tx address pool supporting (#39)
  proto/sao/node/node.proto
  proto/sao/node/tx.proto
  proto/sao/sao/tx.proto
  x/did/keeper/did_management.go
  x/did/keeper/msg_server_binding.go
  x/did/keeper/msg_server_update.go
  x/did/keeper/msg_server_update_payment_address.go
  x/did/types/genesis_test.go
  x/node/keeper/msg_server_create_test.go
  x/node/keeper/msg_server_reset.go
  x/node/keeper/msg_server_reset_test.go
  x/node/types/node.pb.go
  x/node/types/tx.pb.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_terminate.go
  x/sao/keeper/msg_server_updata_permission.go
  x/sao/types/expected_keepers.go
  x/sao/types/tx.pb.go
Labels: none

migrate order, node, market to v2
  go.mod
  go.sum
  proto/sao/market/worker.proto
  proto/sao/node/pledge.proto
  x/market/keeper/migrations.go
  x/market/migrations/v1/types/key_pool.go
  x/market/migrations/v1/types/worker.pb.go
  x/market/migrations/v2/migrations.go
  x/market/module.go
  x/model/migrations/v1/types/key_metadata.go
  x/model/migrations/v1/types/metadata.pb.go
  x/node/keeper/shard_pledge_management.go
  x/node/migrations/v1/types/key_pledge.go
  x/node/migrations/v1/types/keys.go
  x/node/migrations/v1/types/pledge.pb.go
  x/node/migrations/v2/migrations.go
  x/order/migrations/v2/migrations.go
Labels: C:x/order

add v014 upgrade
  app/app.go
  app/upgrades/v0_1_4/constants.go
  app/upgrades/v0_1_4/upgrades.go
  config.yml
Labels: none

add node migration from v1 to v2
  x/node/keeper/migrations.go
  x/node/migrations/v2/migrations.go
  x/node/module.go
Labels: none

migrate order created from timestamp to height
  app/app.go
  x/order/keeper/keeper.go
  x/order/keeper/migrations.go
  x/order/migrations/v2/migrations.go
  x/order/migrations/v2/types/key_metadata.go
  x/order/migrations/v2/types/metadata.pb.go
  x/order/module.go
Labels: C:x/order

migrate
  app/app.go
  x/order/keeper/magrations.go
  x/order/migrations/v2/migrations.go
  x/order/module.go
Labels: C:x/order

fix did check
  x/did/keeper/did_management.go
Labels: none

fix claim node reward
  x/node/keeper/shard_pledge_management.go
Labels: none

fix: eth address binding proof verify
  CHANGELOG.md
  x/did/keeper/msg_server_binding.go
Labels: none

forbid key did to change payment address
  CHANGELOG.md
  x/did/keeper/msg_server_update_payment_address.go
  x/did/types/errors.go
Labels: none

remove && refund expired orders
  x/order/keeper/migrations.go
  x/order/migrations/v2/migrations.go
Labels: C:x/order

worker migrate
  CHANGELOG.md
  x/market/migrations/v2/migrations.go
  x/market/types/expected_keepers.go
  x/model/keeper/migrations.go
Labels: none

metadata/expired_data migrate
  x/model/keeper/migrations.go
  x/model/migrations/v2/migrations.go
Labels: none

reset order and pledge
  x/node/keeper/shard_pledge_management.go
  x/node/migrations/v2/migrations.go
  x/order/migrations/v2/migrations.go
Labels: C:x/order

register model migration
  x/model/module.go
Labels: none

reset order
  x/order/migrations/v2/migrations.go
Labels: C:x/order

fix worker.LastRewardAt
  x/market/keeper/pool_management.go
Labels: none

release shard
  app/app.go
  go.mod
  go.sum
  x/node/keeper/keeper.go
  x/node/keeper/migrations.go
  x/node/keeper/shard_pledge_management.go
  x/node/migrations/v2/migrations.go
  x/order/migrations/v1/types/keys.go
  x/order/migrations/v1/types/metadata.pb.go
  x/order/migrations/v1/types/order.pb.go
  x/order/migrations/v1/types/shard.pb.go
  x/order/migrations/v2/migrations.go
Labels: C:x/order

remove shard
  x/node/keeper/shard_pledge_management.go
  x/node/migrations/v2/migrations.go
Labels: none
