Repository SAONetwork/sao-consensus, changes with the labels that .github/labeler.yml gives for each.
All labels: C:x/sao, C:x/storage, C:x/order, C:x/earn, Type: Build, Type: CI, C:CLI, Type: ADR

.github/labeler.yml:

"C:x/sao":
  - x/upgrade/**/*
"C:x/storage":
  - x/storage/**/*
"C:x/order":
  - x/order/**/*
"C:x/earn":
  - x/earn/**/*
"Type: Build":
  - Makefile
  - Dockerfile
"Type: CI":
  - .github/**/*.yml
  - .golangci.yml
"C:CLI":
  - x/*/client/**/*
"Type: ADR":
  - docs/architecture/**/*

fix version
  x/sao/keeper/msg_server_complete.go
Labels: none

change login to create && remove logout
  go.mod
  go.sum
  proto/sao/node/tx.proto
  x/node/client/cli/tx.go
  x/node/client/cli/tx_create.go
  x/node/client/cli/tx_login.go
  x/node/keeper/msg_server_create.go
  x/node/keeper/msg_server_create_test.go
  x/node/keeper/msg_server_logout.go
  x/node/keeper/msg_server_logout_test.go
  x/node/module_simulation.go
  x/node/simulation/create.go
  x/node/simulation/login.go
  x/node/types/codec.go
  x/node/types/keys.go
  x/node/types/message_create.go
  x/node/types/message_create_test.go
  x/node/types/message_logout.go
  x/node/types/message_logout_test.go
  x/node/types/tx.pb.go
Labels: C:CLI

shard pledge issue
  x/node/keeper/shard_pledge_management.go
Labels: none

fix order size issue
  x/sao/keeper/msg_server_store.go
Labels: none

reject
  x/sao/keeper/keeper.go
  x/sao/keeper/msg_server_reject.go
  x/sao/types/expected_keepers.go
Labels: none

remove claim msg
  app/app.go
  proto/sao/model/shard_meta.proto
  proto/sao/model/tx.proto
  x/market/keeper/keeper.go
  x/market/keeper/pool_management.go
  x/market/types/expected_keepers.go
  x/model/client/cli/tx.go
  x/model/client/cli/tx_claim.go
  x/model/keeper/grpc_query_metadata.go
  x/model/keeper/msg_server_claim.go
  x/model/module_simulation.go
  x/model/simulation/claim.go
  x/model/types/codec.go
  x/model/types/expected_keepers.go
  x/model/types/message_claim.go
  x/model/types/message_claim_test.go
  x/model/types/shard_meta.pb.go
  x/model/types/tx.pb.go
  x/node/keeper/shard_management.go
  x/node/keeper/shard_pledge_management.go
  x/order/keeper/order_management.go
  x/order/keeper/shard_management.go
  x/sao/keeper/msg_server_renew.go
  x/sao/types/expected_keepers.go
Labels: C:x/order, C:CLI

fix pledge bug
  x/node/keeper/shard_pledge_management.go
Labels: none

fix pledge bug
  x/node/keeper/shard_pledge_management.go
Labels: none

fix provider error
  x/sao/keeper/grpc_query_metadata.go
Labels: none

shard migrate
  docs/static/openapi.yml
  proto/sao/node/shard.proto
  proto/sao/sao/tx.proto
  x/node/keeper/shard_management.go
  x/node/types/shard.pb.go
  x/sao/client/cli/tx.go
  x/sao/client/cli/tx_complete_shard.go
  x/sao/keeper/msg_server_complete_shard.go
  x/sao/module_simulation.go
  x/sao/simulation/complete_shard.go
  x/sao/types/codec.go
  x/sao/types/errors.go
  x/sao/types/expected_keepers.go
  x/sao/types/message_complete_shard.go
  x/sao/types/message_complete_shard_test.go
  x/sao/types/tx.pb.go
Labels: C:CLI

fix commit id issue
  x/sao/keeper/msg_server_store.go
Labels: none

initial commit
  docs/static/openapi.yml
  proto/sao/node/pool.proto
  x/node/abci.go
  x/node/types/genesis.go
  x/node/types/pool.pb.go
  x/node/types/types.go
Labels: none

complete return shard idx
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/sao/tx.proto
  x/node/keeper/shard_management.go
  x/sao/keeper/msg_server_complete.go
  x/sao/types/tx.pb.go
Labels: none

update readme
  README.md
  go.mod
  go.sum
Labels: none

update address prefix
  app/app.go
  x/did/keeper/msg_server_binding.go
  x/did/keeper/msg_server_binding_test.go
  x/did/keeper/msg_server_update.go
  x/did/keeper/msg_server_update_payment_address.go
  x/node/types/pool.pb.go
Labels: none

update chain configs
  config.yml
  docs/static/openapi.yml
  go.mod
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/market/keeper/pool_management_test.go
Labels: none

update shard pledge
  x/node/keeper/shard_pledge_management.go
Labels: none

uniform size and createdAt type
  proto/sao/order/order.proto
  proto/sao/order/shard.proto
  proto/sao/sao/tx.proto
  x/order/keeper/order_management.go
  x/order/keeper/shard_management.go
  x/order/types/order.pb.go
  x/order/types/shard.pb.go
  x/sao/client/cli/tx_complete.go
  x/sao/types/expected_keepers.go
  x/sao/types/message_complete.go
  x/sao/types/tx.pb.go
Labels: C:x/order, C:CLI

refund issue
  x/market/keeper/pool_management.go
  x/order/keeper/order_management.go
  x/sao/keeper/msg_server_terminate.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

update chain configs
  config.yml
Labels: none

fix terminate order
  x/model/keeper/data_management.go
  x/model/types/expected_keepers.go
Labels: none

fix caip10 network verify
  x/did/keeper/msg_server_binding.go
  x/did/keeper/msg_server_update.go
  x/did/keeper/msg_server_update_payment_address.go
Labels: none

add testnet genesis configs
  network/sapphire/config/app.toml
  network/sapphire/config/client.toml
  network/sapphire/config/config.toml
  network/sapphire/config/genesis.json
  network/sapphire/config/gentx/gentx-c854950acef52e3a7a3302857d31955806818f6b.json
Labels: none

replace default bond denom with "sao"
  app/app.go
  go.sum
  testutil/network/network.go
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/node/keeper/keeper.go
  x/node/keeper/shard_pledge_management.go
  x/node/module.go
  x/node/types/expected_keepers.go
  x/node/types/genesis.go
  x/order/types/expected_keepers.go
  x/sao/keeper/keeper.go
  x/sao/keeper/msg_server_complete_test.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/module.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

remove concensus pledge
  x/node/keeper/shard_pledge_management.go
Labels: none

hard code denom to sao in node genesis.
  x/node/types/genesis.go
Labels: none

update pledge log
  x/node/keeper/shard_pledge_management.go
Labels: none

remove useless log
  x/node/abci.go
Labels: none

fix reward per byte by 10-6 sao
  x/node/keeper/shard_pledge_management.go
Labels: none

reduce order price
  x/node/keeper/shard_pledge_management.go
  x/sao/keeper/msg_server_store.go
Labels: none

update testnet genesis configs
  docs/static/openapi.yml
  network/sapphire/config/config.toml
  network/sapphire/config/genesis.json
  network/sapphire/config/gentx/gentx-0f94ea88785673855ed8c604c3304fc174042f84.json
  network/sapphire/config/gentx/gentx-c854950acef52e3a7a3302857d31955806818f6b.json
  network/sapphire/keyring-test/22c92f26d642342ecec7b5e43feb15eee7798444.address
  network/sapphire/keyring-test/alice.info
  network/sapphire/keyring-test/bob.info
  network/sapphire/keyring-test/de3a8b3b92373b11ed81a118318c21623d4a8798.address
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
Labels: none

update testnet genesis configs
  network/sapphire/config/config.toml
Labels: none

set order id start from 1
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/model/keeper/grpc_query_metadata.go
  x/node/keeper/reputation.go
  x/order/keeper/order.go
  x/order/keeper/order_management.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/verify.go
Labels: C:x/order

fix: rename variable
  x/order/keeper/shard_management.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_store.go
Labels: C:x/order

use block height to calculate reward
  x/market/keeper/pool_management.go
  x/model/keeper/data_management.go
  x/node/keeper/shard_pledge_management.go
  x/order/keeper/order_management.go
Labels: C:x/order

remove reset_store
  proto/sao/did/tx.proto
  x/did/client/cli/tx.go
  x/did/client/cli/tx_reset_store.go
  x/did/keeper/msg_server_reset_store.go
  x/did/module_simulation.go
  x/did/simulation/reset_store.go
  x/did/types/codec.go
  x/did/types/message_reset_store.go
  x/did/types/message_reset_store_test.go
  x/did/types/tx.pb.go
Labels: C:CLI

order settlement
  app/app.go
  x/market/keeper/pool_management.go
  x/model/abic.go
  x/model/keeper/data_management.go
  x/model/keeper/keeper.go
  x/model/types/expected_keepers.go
Labels: none

update ts-client build script and package name
  go.mod
  go.sum
  ts-client-builder/README.md
  ts-client-builder/build.sh
  ts-client-builder/package.json
Labels: none

old order settlement in UpdateMeta
  x/model/keeper/data_management.go
  x/order/keeper/order_management.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
Labels: C:x/order

orderFinish issue
  docs/static/openapi.yml
  proto/sao/model/genesis.proto
  proto/sao/model/order_finish.proto
  proto/sao/model/query.proto
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/model/abic.go
  x/model/client/cli/query.go
  x/model/client/cli/query_order_finish.go
  x/model/client/cli/query_order_finish_test.go
  x/model/genesis.go
  x/model/genesis_test.go
  x/model/keeper/data_management.go
  x/model/keeper/grpc_query_order_finish.go
  x/model/keeper/grpc_query_order_finish_test.go
  x/model/keeper/order_finish.go
  x/model/keeper/order_finish_test.go
  x/model/types/genesis.go
  x/model/types/genesis.pb.go
  x/model/types/genesis_test.go
  x/model/types/key_order_finish.go
  x/model/types/order_finish.pb.go
  x/model/types/query.pb.go
  x/model/types/query.pb.gw.go
Labels: C:CLI
