Repository SAONetwork/sao-consensus, changes with the labels that .github/labeler.yml gives for each.
All labels: C:x/sao, C:x/storage, C:x/order, C:x/earn, Type: Build, Type: CI, C:CLI, Type: ADR

fix auth set, fix AccountList not found error
  x/did/keeper/grpc_query_get_all_account_auth.go
  x/did/keeper/msg_server_add_account_auth.go
  x/did/keeper/msg_server_update_account_auths.go
Labels: none

fix auth set, fix AccountList not found error
  x/did/keeper/grpc_query_get_all_account_auth.go
  x/did/keeper/msg_server_add_account_auth.go
  x/did/keeper/msg_server_update_account_auths.go
Labels: none

support order renew
  x/order/keeper/order_management.go
  x/order/keeper/shard_management.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_renew.go
Labels: C:x/order

support order renew
  x/order/keeper/order_management.go
  x/order/keeper/shard_management.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_renew.go
Labels: C:x/order

fix update account auths
  x/did/keeper/msg_server_add_account_auth.go
  x/did/keeper/msg_server_update_account_auths.go
Labels: none

fix update account auths
  x/did/keeper/msg_server_add_account_auth.go
  x/did/keeper/msg_server_update_account_auths.go
Labels: none

add message CleanupPastSeeds CleanupSidDocuments
  docs/static/openapi.yml
  proto/sao/did/tx.proto
  x/did/client/cli/tx.go
  x/did/client/cli/tx_cleanup_past_seeds.go
  x/did/client/cli/tx_cleanup_sid_documents.go
  x/did/keeper/msg_server_add_binding.go
  x/did/keeper/msg_server_cleanup_past_seeds.go
  x/did/keeper/msg_server_cleanup_sid_documents.go
  x/did/module_simulation.go
  x/did/simulation/cleanup_past_seeds.go
  x/did/simulation/cleanup_sid_documents.go
  x/did/types/codec.go
  x/did/types/errors.go
  x/did/types/message_cleanup_past_seeds.go
  x/did/types/message_cleanup_past_seeds_test.go
  x/did/types/message_cleanup_sid_documents.go
  x/did/types/message_cleanup_sid_documents_test.go
  x/did/types/tx.pb.go
Labels: C:CLI

add message CleanupPastSeeds CleanupSidDocuments
  docs/static/openapi.yml
  proto/sao/did/tx.proto
  x/did/client/cli/tx.go
  x/did/client/cli/tx_cleanup_past_seeds.go
  x/did/client/cli/tx_cleanup_sid_documents.go
  x/did/keeper/msg_server_add_binding.go
  x/did/keeper/msg_server_cleanup_past_seeds.go
  x/did/keeper/msg_server_cleanup_sid_documents.go
  x/did/module_simulation.go
  x/did/simulation/cleanup_past_seeds.go
  x/did/simulation/cleanup_sid_documents.go
  x/did/types/codec.go
  x/did/types/errors.go
  x/did/types/message_cleanup_past_seeds.go
  x/did/types/message_cleanup_past_seeds_test.go
  x/did/types/message_cleanup_sid_documents.go
  x/did/types/message_cleanup_sid_documents_test.go
  x/did/types/tx.pb.go
Labels: C:CLI

fix registered error code
  x/did/keeper/msg_server_add_binding.go
  x/did/types/errors.go
Labels: none

fix registered error code
  x/did/keeper/msg_server_add_binding.go
  x/did/types/errors.go
Labels: none

add tx ResetStore for local test
  docs/static/openapi.yml
  proto/sao/did/tx.proto
  x/did/client/cli/tx.go
  x/did/client/cli/tx_reset_store.go
  x/did/keeper/msg_server_reset_store.go
  x/did/module_simulation.go
  x/did/simulation/reset_store.go
  x/did/types/codec.go
  x/did/types/message_reset_store.go
  x/did/types/message_reset_store_test.go
  x/did/types/tx.pb.go
Labels: C:CLI

add tx ResetStore for local test
  docs/static/openapi.yml
  proto/sao/did/tx.proto
  x/did/client/cli/tx.go
  x/did/client/cli/tx_reset_store.go
  x/did/keeper/msg_server_reset_store.go
  x/did/module_simulation.go
  x/did/simulation/reset_store.go
  x/did/types/codec.go
  x/did/types/message_reset_store.go
  x/did/types/message_reset_store_test.go
  x/did/types/tx.pb.go
Labels: C:CLI

fix signature issue
  go.mod
  x/sao/keeper/msg_server_store.go
  x/sao/types/errors.go
Labels: none

fix signature issue
  go.mod
  x/sao/keeper/msg_server_store.go
  x/sao/types/errors.go
Labels: none

update new did manager by passing get sid document.
  go.mod
  go.sum
  x/sao/keeper/msg_server_store.go
  x/sao/types/expected_keepers.go
Labels: none

update new did manager by passing get sid document.
  go.mod
  go.sum
  x/sao/keeper/msg_server_store.go
  x/sao/types/expected_keepers.go
Labels: none

proposal ordered marshal
  x/sao/keeper/msg_server_store.go
Labels: none

proposal ordered marshal
  x/sao/keeper/msg_server_store.go
Labels: none

fix integration issue
  x/did/keeper/did_management.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_test.go
  x/sao/types/errors.go
Labels: none

fix integration issue
  x/did/keeper/did_management.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_test.go
  x/sao/types/errors.go
Labels: none

support connect wallet
  x/sao/keeper/msg_server_store.go
Labels: none

support connect wallet
  x/sao/keeper/msg_server_store.go
Labels: none

merge fix
  x/sao/keeper/msg_server_store.go
Labels: none

merge fix
  x/sao/keeper/msg_server_store.go
Labels: none

sid document pub keys
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/did/pub_key.proto
  proto/sao/did/tx.proto
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/did/client/cli/tx_update_sid_document.go
  x/did/keeper/msg_server_update_sid_document.go
  x/did/types/errors.go
  x/did/types/message_update_sid_document.go
  x/did/types/pub_key.pb.go
  x/did/types/sid_document.pb.go
  x/did/types/tx.pb.go
Labels: C:CLI

sid document pub keys
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/did/pub_key.proto
  proto/sao/did/tx.proto
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/did/client/cli/tx_update_sid_document.go
  x/did/keeper/msg_server_update_sid_document.go
  x/did/types/errors.go
  x/did/types/message_update_sid_document.go
  x/did/types/pub_key.pb.go
  x/did/types/sid_document.pb.go
  x/did/types/tx.pb.go
Labels: C:CLI

add verify jws for renew
  x/sao/keeper/msg_server_renew.go
Labels: none

add verify jws for renew
  x/sao/keeper/msg_server_renew.go
Labels: none

jws verify fix
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
Labels: none

jws verify fix
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
Labels: none

fix integration issue
  x/model/keeper/data_management.go
  x/model/types/errors.go
Labels: none

fix integration issue
  x/model/keeper/data_management.go
  x/model/types/errors.go
Labels: none

did tx refactor
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/did/tx.proto
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/did/client/cli/tx.go
  x/did/client/cli/tx_cleanup_past_seeds.go
  x/did/client/cli/tx_cleanup_sid_documents.go
  x/did/keeper/msg_server_cleanup_past_seeds.go
  x/did/keeper/msg_server_cleanup_sid_documents.go
  x/did/module_simulation.go
  x/did/simulation/cleanup_past_seeds.go
  x/did/simulation/cleanup_sid_documents.go
  x/did/types/codec.go
  x/did/types/message_cleanup_past_seeds.go
  x/did/types/message_cleanup_past_seeds_test.go
  x/did/types/message_cleanup_sid_documents.go
  x/did/types/message_cleanup_sid_documents_test.go
  x/did/types/tx.pb.go
Labels: C:CLI

did tx refactor
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/did/tx.proto
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/did/client/cli/tx.go
  x/did/client/cli/tx_cleanup_past_seeds.go
  x/did/client/cli/tx_cleanup_sid_documents.go
  x/did/keeper/msg_server_cleanup_past_seeds.go
  x/did/keeper/msg_server_cleanup_sid_documents.go
  x/did/module_simulation.go
  x/did/simulation/cleanup_past_seeds.go
  x/did/simulation/cleanup_sid_documents.go
  x/did/types/codec.go
  x/did/types/message_cleanup_past_seeds.go
  x/did/types/message_cleanup_past_seeds_test.go
  x/did/types/message_cleanup_sid_documents.go
  x/did/types/message_cleanup_sid_documents_test.go
  x/did/types/tx.pb.go
Labels: C:CLI

add UpdataPermission message
  docs/static/openapi.yml
  proto/sao/sao/tx.proto
  x/sao/client/cli/tx.go
  x/sao/client/cli/tx_updata_permission.go
  x/sao/keeper/msg_server_updata_permission.go
  x/sao/module_simulation.go
  x/sao/simulation/updata_permission.go
  x/sao/types/codec.go
  x/sao/types/message_updata_permission.go
  x/sao/types/message_updata_permission_test.go
  x/sao/types/permission.pb.go
  x/sao/types/tx.pb.go
Labels: C:CLI

add UpdataPermission message
  docs/static/openapi.yml
  proto/sao/sao/tx.proto
  x/sao/client/cli/tx.go
  x/sao/client/cli/tx_updata_permission.go
  x/sao/keeper/msg_server_updata_permission.go
  x/sao/module_simulation.go
  x/sao/simulation/updata_permission.go
  x/sao/types/codec.go
  x/sao/types/message_updata_permission.go
  x/sao/types/message_updata_permission_test.go
  x/sao/types/permission.pb.go
  x/sao/types/tx.pb.go
Labels: C:CLI

add UpdataPermission message
  proto/sao/model/metadata.proto
  proto/sao/sao/permission_proposal.proto
  proto/sao/sao/proposal.proto
  proto/sao/sao/tx.proto
  x/model/keeper/data_management.go
  x/model/types/metadata.pb.go
  x/sao/client/cli/tx_updata_permission.go
  x/sao/keeper/msg_server_updata_permission.go
  x/sao/types/expected_keepers.go
  x/sao/types/message_updata_permission.go
  x/sao/types/permission_proposal.pb.go
  x/sao/types/proposal.pb.go
  x/sao/types/tx.pb.go
Labels: C:CLI

add UpdataPermission message
  proto/sao/model/metadata.proto
  proto/sao/sao/permission_proposal.proto
  proto/sao/sao/proposal.proto
  proto/sao/sao/tx.proto
  x/model/keeper/data_management.go
  x/model/types/metadata.pb.go
  x/sao/client/cli/tx_updata_permission.go
  x/sao/keeper/msg_server_updata_permission.go
  x/sao/types/expected_keepers.go
  x/sao/types/message_updata_permission.go
  x/sao/types/permission_proposal.pb.go
  x/sao/types/proposal.pb.go
  x/sao/types/tx.pb.go
Labels: C:CLI

dec oin
  app/app.go
  proto/sao/node/params.proto
  proto/sao/node/pledge.proto
  proto/sao/node/pool.proto
  proto/sao/order/shard.proto
  vue/src/store/generated/index.ts
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/node/abci.go
  x/node/keeper/grpc_query_pledge.go
  x/node/keeper/msg_server_claim_reward.go
  x/node/keeper/order.go
  x/node/keeper/params.go
  x/node/types/genesis.go
  x/node/types/params.go
  x/node/types/params.pb.go
  x/node/types/pledge.pb.go
  x/node/types/pool.pb.go
  x/order/keeper/clean.go
  x/order/keeper/keeper.go
  x/order/keeper/order_management.go
  x/order/types/expected_keepers.go
  x/order/types/shard.pb.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

dec oin
  app/app.go
  proto/sao/node/params.proto
  proto/sao/node/pledge.proto
  proto/sao/node/pool.proto
  proto/sao/order/shard.proto
  vue/src/store/generated/index.ts
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/node/abci.go
  x/node/keeper/grpc_query_pledge.go
  x/node/keeper/msg_server_claim_reward.go
  x/node/keeper/order.go
  x/node/keeper/params.go
  x/node/types/genesis.go
  x/node/types/params.go
  x/node/types/params.pb.go
  x/node/types/pledge.pb.go
  x/node/types/pool.pb.go
  x/order/keeper/clean.go
  x/order/keeper/keeper.go
  x/order/keeper/order_management.go
  x/order/types/expected_keepers.go
  x/order/types/shard.pb.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

.github/labeler.yml:

"C:x/sao":
  - x/upgrade/**/*
"C:x/storage":
  - x/storage/**/*
"C:x/order":
  - x/order/**/*
"C:x/earn":
  - x/earn/**/*
"Type: Build":
  - Makefile
  - Dockerfile
"Type: CI":
  - .github/**/*.yml
  - .golangci.yml
"C:CLI":
  - x/*/client/**/*
"Type: ADR":
  - docs/architecture/**/*
