Repository SAONetwork/sao-consensus, changes with the labels that .github/labeler.yml gives for each.
All labels: C:x/sao, C:x/storage, C:x/order, C:x/earn, Type: Build, Type: CI, C:CLI, Type: ADR

update node selecting logic
  x/node/keeper/reputation.go
Labels: none

update shard notify logic
  x/node/keeper/reputation.go
Labels: none

update sp select logic
  x/node/keeper/reputation.go
  x/node/keeper/reputation_test.go
Labels: none

update sp select logic
  x/node/keeper/grpc_query_pledge.go
  x/node/keeper/reputation.go
  x/node/keeper/reputation_test.go
Labels: none

adjust status check time window
  x/node/keeper/node.go
Labels: none

update did check logic
  x/did/keeper/did_management.go
Labels: none

refactor signature verification logic
  x/sao/keeper/grpc_query_metadata.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_terminate.go
  x/sao/keeper/msg_server_updata_permission.go
  x/sao/keeper/verify.go
  x/sao/types/errors.go
Labels: none

disable open data model deleting
  x/sao/keeper/msg_server_terminate.go
  x/sao/types/errors.go
Labels: none

disable open data model update
  x/sao/keeper/msg_server_store.go
Labels: none

fix mispell
  go.mod
  go.sum
  proto/sao/node/node.proto
  x/node/keeper/msg_server_login.go
  x/node/keeper/msg_server_reset.go
  x/node/keeper/node.go
  x/node/keeper/reputation.go
  x/node/types/node.pb.go
Labels: none

add details in claim response
  go.mod
  proto/sao/node/tx.proto
  x/node/keeper/msg_server_claim_reward.go
  x/node/types/tx.pb.go
Labels: none

fix node status update in endblock
  go.mod
  x/node/keeper/node.go
Labels: none

account list check
  x/did/keeper/did_management.go
  x/did/keeper/msg_server_update_account_auths.go
  x/did/types/errors.go
Labels: none

check creator
  x/did/keeper/did_management.go
Labels: none

add versio check logic
  x/node/keeper/reputation_test.go
  x/node/types/errors.go
  x/sao/keeper/msg_server_store.go
Labels: none

add versio check logic
  x/node/types/errors.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_store.go
Labels: none

add version check logic
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_store.go
Labels: none

add version check logic
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_store.go
Labels: none

bingding proof update
  x/did/keeper/msg_server_binding.go
Labels: none

add error log
  x/did/keeper/msg_server_update_payment_address.go
Labels: none

fix commitId issue
  x/sao/keeper/msg_server_store.go
Labels: none

fix commitId issue
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_store.go
Labels: none

refactor unbind
  proto/sao/did/account_id.proto
  proto/sao/did/genesis.proto
  proto/sao/did/query.proto
  proto/sao/did/tx.proto
  x/did/client/cli/query.go
  x/did/client/cli/query_account_id.go
  x/did/client/cli/query_account_id_test.go
  x/did/client/cli/tx.go
  x/did/client/cli/tx_unbinding.go
  x/did/client/cli/tx_update.go
  x/did/genesis.go
  x/did/genesis_test.go
  x/did/keeper/account_id.go
  x/did/keeper/account_id_test.go
  x/did/keeper/did_management.go
  x/did/keeper/grpc_query_account_id.go
  x/did/keeper/grpc_query_account_id_test.go
  x/did/keeper/msg_server_binding.go
  x/did/keeper/msg_server_unbinding.go
  x/did/keeper/msg_server_update.go
  x/did/keeper/msg_server_update_account_auths.go
  x/did/keeper/msg_server_update_payment_address.go
  x/did/keeper/msg_server_update_sid_document.go
  x/did/module_simulation.go
  x/did/simulation/update.go
  x/did/types/account_id.pb.go
  x/did/types/codec.go
  x/did/types/errors.go
  x/did/types/genesis.go
  x/did/types/genesis.pb.go
  x/did/types/genesis_test.go
  x/did/types/key_account_id.go
  x/did/types/message_unbinding.go
  x/did/types/message_update.go
  x/did/types/message_update_test.go
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
  x/did/types/tx.pb.go
Labels: C:CLI

fix commitId issue
  x/model/keeper/data_management.go
Labels: none

fix commitId issue
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_store.go
Labels: none

fix commitId issue
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_store.go
Labels: none

cleanup useless tx
  proto/sao/did/tx.proto
  x/did/client/cli/tx.go
  x/did/client/cli/tx_add_account_auth.go
  x/did/client/cli/tx_add_binding.go
  x/did/client/cli/tx_add_past_seed.go
  x/did/client/cli/tx_update_account_auths.go
  x/did/client/cli/tx_update_sid_document.go
  x/did/keeper/did_management.go
  x/did/keeper/grpc_query_get_all_account_auth.go
  x/did/keeper/msg_server_add_account_auth.go
  x/did/keeper/msg_server_add_binding.go
  x/did/keeper/msg_server_add_past_seed.go
  x/did/keeper/msg_server_binding.go
  x/did/keeper/msg_server_update.go
  x/did/keeper/msg_server_update_account_auths.go
  x/did/keeper/msg_server_update_sid_document.go
  x/did/keeper/utils.go
  x/did/module_simulation.go
  x/did/simulation/add_account_auth.go
  x/did/simulation/add_binding.go
  x/did/simulation/add_past_seed.go
  x/did/simulation/update_account_auths.go
  x/did/simulation/update_sid_document.go
  x/did/types/codec.go
  x/did/types/message_add_account_auth.go
  x/did/types/message_add_account_auth_test.go
  x/did/types/message_add_binding.go
  x/did/types/message_add_binding_test.go
  x/did/types/message_add_past_seed.go
  x/did/types/message_add_past_seed_test.go
  x/did/types/message_update_account_auths.go
  x/did/types/message_update_account_auths_test.go
  x/did/types/message_update_sid_document.go
  x/did/types/message_update_sid_document_test.go
  x/did/types/tx.pb.go
Labels: C:CLI

payment address issue
  x/did/keeper/did_management.go
  x/did/keeper/msg_server_binding.go
  x/did/keeper/msg_server_update.go
  x/did/keeper/msg_server_update_payment_address.go
  x/did/types/errors.go
Labels: none

only the data model owner could renew operations
  x/sao/keeper/msg_server_renew.go
Labels: none

refactor renew order errors handling logic
  x/sao/keeper/msg_server_renew.go
Labels: none

feat: refund uncompleted order
  docs/static/openapi.yml
  proto/sao/order/expired_order.proto
  proto/sao/order/genesis.proto
  proto/sao/order/query.proto
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/order/abic.go
  x/order/client/cli/query.go
  x/order/client/cli/query_expired_order.go
  x/order/client/cli/query_expired_order_test.go
  x/order/genesis.go
  x/order/genesis_test.go
  x/order/keeper/expired_order.go
  x/order/keeper/expired_order_test.go
  x/order/keeper/grpc_query_expired_order.go
  x/order/keeper/grpc_query_expired_order_test.go
  x/order/keeper/order_management.go
  x/order/types/errors.go
  x/order/types/expired_order.pb.go
  x/order/types/genesis.go
  x/order/types/genesis.pb.go
  x/order/types/genesis_test.go
  x/order/types/key_expired_order.go
  x/order/types/query.pb.go
  x/order/types/query.pb.gw.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/expected_keepers.go
Labels: C:x/order, C:CLI

parameter verify issue
  x/did/keeper/did_management.go
  x/did/keeper/msg_server_binding.go
  x/did/keeper/msg_server_update.go
  x/did/keeper/utils.go
  x/did/types/types.go
Labels: none

did binding proof issue
  proto/sao/did/did.proto
  proto/sao/did/genesis.proto
  proto/sao/did/query.proto
  x/did/client/cli/query.go
  x/did/client/cli/query_did.go
  x/did/client/cli/query_did_test.go
  x/did/genesis.go
  x/did/genesis_test.go
  x/did/keeper/did.go
  x/did/keeper/did_binding_proof.go
  x/did/keeper/did_management.go
  x/did/keeper/did_test.go
  x/did/keeper/grpc_query_did.go
  x/did/keeper/grpc_query_did_binding_proof.go
  x/did/keeper/grpc_query_did_test.go
  x/did/keeper/msg_server_binding.go
  x/did/keeper/msg_server_reset_store.go
  x/did/keeper/msg_server_update.go
  x/did/keeper/msg_server_update_payment_address.go
  x/did/types/did.pb.go
  x/did/types/genesis.go
  x/did/types/genesis.pb.go
  x/did/types/genesis_test.go
  x/did/types/key_did.go
  x/did/types/key_did_binding_proof.go
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
Labels: C:CLI

opt: complete shard task logic
  x/order/types/errors.go
  x/sao/keeper/msg_server_complete.go
Labels: C:x/order

add did binding test
  x/did/keeper/msg_server_binding.go
  x/did/keeper/msg_server_binding_test.go
  x/did/keeper/msg_server_update.go
  x/did/keeper/utils.go
  x/did/types/errors.go
  x/did/types/types.go
Labels: none

add update test
  x/did/keeper/msg_server_binding_test.go
  x/did/keeper/msg_server_update.go
  x/did/keeper/msg_server_update_payment_address.go
  x/did/keeper/msg_server_update_test.go
Labels: none

handle withdraw err
  x/sao/keeper/msg_server_terminate.go
Labels: none

fix error message
  x/did/keeper/msg_server_binding.go
  x/did/types/errors.go
Labels: none

shard migrate
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/order/shard.proto
  proto/sao/sao/tx.proto
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/node/keeper/reputation.go
  x/order/keeper/shard_management.go
  x/order/types/shard.pb.go
  x/sao/client/cli/tx.go
  x/sao/client/cli/tx_migrate.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_store.go
  x/sao/module_simulation.go
  x/sao/simulation/migrate.go
  x/sao/types/codec.go
  x/sao/types/expected_keepers.go
  x/sao/types/message_migrate.go
  x/sao/types/message_migrate_test.go
  x/sao/types/tx.pb.go
Labels: C:x/order, C:CLI

shard size issue
  x/order/keeper/shard_management.go
  x/sao/keeper/msg_server_complete.go
Labels: C:x/order

.github/labeler.yml:

"C:x/sao":
  - x/upgrade/**/*
"C:x/storage":
  - x/storage/**/*
"C:x/order":
  - x/order/**/*
"C:x/earn":
  - x/earn/**/*
"Type: Build":
  - Makefile
  - Dockerfile
"Type: CI":
  - .github/**/*.yml
  - .golangci.yml
"C:CLI":
  - x/*/client/**/*
"Type: ADR":
  - docs/architecture/**/*
