Repository SAONetwork/sao-consensus, changes with the labels that .github/labeler.yml gives for each.
All labels: C:x/sao, C:x/storage, C:x/order, C:x/earn, Type: Build, Type: CI, C:CLI, Type: ADR

remove shard after OrderRelease
  x/model/keeper/data_management.go
  x/model/types/expected_keepers.go
  x/sao/keeper/msg_server_cancel.go
Labels: none

cleanup old expiredData
  x/model/migrations/v2/migrations.go
Labels: none

fix refund
  x/order/migrations/v2/migrations.go
Labels: C:x/order

remove expire field
  proto/sao/order/order.proto
  x/order/keeper/grpc_query_order.go
  x/order/types/order.pb.go
Labels: C:x/order

release pledge
  proto/sao/node/pledge.proto
  x/node/keeper/migrations.go
  x/node/keeper/shard_pledge_management.go
  x/node/migrations/v1/types/pool.pb.go
  x/node/migrations/v2/migrations.go
  x/node/types/pledge.pb.go
Labels: none

refund order
  x/market/migrations/v2/migrations.go
  x/market/module.go
  x/model/migrations/v2/migrations.go
  x/order/migrations/v2/migrations.go
Labels: C:x/order

decode issue
  app/app.go
  x/market/keeper/keeper.go
  x/market/keeper/migrations.go
  x/market/migrations/v2/migrations.go
  x/model/keeper/keeper.go
  x/model/keeper/migrations.go
  x/model/migrations/v2/migrations.go
Labels: none

market migrate, remove v1pool
  x/market/migrations/v2/migrations.go
  x/market/module.go
  x/node/migrations/v1/types/pool.pb.go
  x/node/migrations/v2/migrations.go
Labels: none

export/import issue
  proto/sao/node/genesis.proto
  x/node/genesis.go
  x/node/types/genesis.pb.go
Labels: none

handle incompleted order
  x/order/migrations/v2/migrations.go
Labels: C:x/order

remove Metadata field in Order
  proto/sao/order/order.proto
  x/order/keeper/grpc_query_order.go
  x/order/types/order.pb.go
Labels: C:x/order

remove node params
  app/upgrades/v0_1_4/upgrades.go
Labels: none

fix: eth address binding proof verify (#42)
  CHANGELOG.md
  x/did/keeper/msg_server_binding.go
  x/did/keeper/msg_server_update_payment_address.go
  x/did/types/errors.go
Labels: none

order list in metadata, rewardPerByte in order
  CHANGELOG.md
  proto/sao/model/metadata.proto
  proto/sao/order/order.proto
  x/model/keeper/data_management.go
  x/model/keeper/migrations.go
  x/model/migrations/v2/types/metadata.pb.go
  x/model/migrations/v3/migrations.go
  x/model/module.go
  x/order/keeper/migrations.go
  x/order/migrations/v2/types/order.pb.go
  x/order/migrations/v3/migrations.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_terminate.go
Labels: C:x/order

fix timeout decrease reputation
  x/sao/client/cli/tx_complete.go
  x/sao/keeper/timeout_management.go
  x/sao/types/message_complete.go
Labels: C:CLI

refactor: renew
  x/model/keeper/data_management.go
  x/node/keeper/shard_pledge_management.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/errors.go
  x/sao/types/expected_keepers.go
Labels: none

sp node pledge debt
  CHANGELOG.md
  proto/sao/node/genesis.proto
  proto/sao/node/pledge_debt.proto
  proto/sao/node/query.proto
  x/market/keeper/pool_management.go
  x/node/client/cli/query.go
  x/node/client/cli/query_pledge_debt.go
  x/node/client/cli/query_pledge_debt_test.go
  x/node/genesis.go
  x/node/genesis_test.go
  x/node/keeper/grpc_query_pledge_debt.go
  x/node/keeper/grpc_query_pledge_debt_test.go
  x/node/keeper/msg_server_claim_reward.go
  x/node/keeper/pledge_debt.go
  x/node/keeper/pledge_debt_test.go
  x/node/keeper/shard_pledge_management.go
  x/node/types/expected_keepers.go
  x/node/types/genesis.go
  x/node/types/genesis.pb.go
  x/node/types/genesis_test.go
  x/node/types/key_pledge_debt.go
  x/node/types/pledge_debt.pb.go
  x/node/types/query.pb.go
  x/node/types/query.pb.gw.go
  x/order/migrations/v2/types/order.pb.go
  x/sao/keeper/msg_server_renew.go
  x/sao/types/expected_keepers.go
Labels: C:x/order, C:CLI

fix migrate
  x/model/migrations/v2/types/metadata.pb.go
  x/order/migrations/v2/types/order.pb.go
  x/order/module.go
Labels: C:x/order

register v0.1.5 upgrade, fix price calculate in v3 order migration
  CHANGELOG.md
  app/app.go
  app/upgrades/v0_1_5/constants.go
  app/upgrades/v0_1_5/upgrades.go
  x/order/migrations/v3/migrations.go
Labels: C:x/order

fix terminate shard not found, fix renew pledge calculate, add logs for debug
  CHANGELOG.md
  x/model/keeper/data_management.go
  x/node/keeper/msg_server_claim_reward.go
  x/sao/keeper/msg_server_renew.go
Labels: none

fix: export/import issue (#44)
  proto/sao/node/genesis.proto
  x/node/genesis.go
  x/node/types/genesis.pb.go
Labels: none

use v2 order in model migration, fix TotalPledged in pool
  CHANGELOG.md
  x/model/migrations/v3/migrations.go
  x/sao/keeper/msg_server_renew.go
  x/sao/types/expected_keepers.go
Labels: none

refactor: shard reord storage duration
  CHANGELOG.md
  proto/sao/order/shard.proto
  x/market/keeper/pool_management.go
  x/market/types/expected_keepers.go
  x/node/types/expected_keepers.go
  x/order/keeper/shard_management.go
  x/order/types/shard.pb.go
  x/sao/keeper/msg_server_complete.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

recored reward per byte in order, order v3 migration logic
  app/app.go
  app/upgrades/v0_1_5/constants.go
  app/upgrades/v0_1_5/upgrades.go
  proto/sao/order/order.proto
  x/order/keeper/grpc_query_order.go
  x/order/keeper/migrations.go
  x/order/migrations/v2/types/order.pb.go
  x/order/migrations/v2/types/shard.pb.go
  x/order/migrations/v3/migrations.go
  x/order/module.go
Labels: C:x/order

fix terminate, stop decrease reputation, enhance shard error judgment, fix shard pledge calculate, fix worker income calculate, metadata duration extend
  x/market/keeper/pool_management.go
  x/model/keeper/data_management.go
  x/node/keeper/shard_pledge_management.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/timeout_management.go
  x/sao/types/expected_keepers.go
Labels: none

rename RewardPerByte feild to UnitPrice, add provider arg in cli, fix cancel
  proto/sao/order/order.proto
  x/market/keeper/pool_management.go
  x/node/keeper/shard_pledge_management.go
  x/order/keeper/grpc_query_order.go
  x/order/migrations/v3/migrations.go
  x/order/types/order.pb.go
  x/sao/client/cli/tx_cancel.go
  x/sao/client/cli/tx_complete.go
  x/sao/client/cli/tx_migrate.go
  x/sao/client/cli/tx_ready.go
  x/sao/client/cli/tx_renew.go
  x/sao/client/cli/tx_store.go
  x/sao/client/cli/tx_terminate.go
  x/sao/client/cli/tx_updata_permission.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/message_cancel.go
  x/sao/types/message_complete.go
  x/sao/types/message_migrate.go
  x/sao/types/message_ready.go
  x/sao/types/message_renew.go
  x/sao/types/message_store.go
  x/sao/types/message_terminate.go
  x/sao/types/message_updata_permission.go
Labels: C:x/order, C:CLI

Update tx_complete.go
  x/sao/client/cli/tx_complete.go
Labels: C:CLI

refactor: shard record storage duration (#46)
  CHANGELOG.md
  app/app.go
  app/upgrades/v0_1_5/constants.go
  app/upgrades/v0_1_5/upgrades.go
  proto/sao/order/order.proto
  proto/sao/order/shard.proto
  x/market/keeper/pool_management.go
  x/market/types/expected_keepers.go
  x/model/keeper/data_management.go
  x/node/keeper/shard_pledge_management.go
  x/node/types/expected_keepers.go
  x/order/keeper/grpc_query_order.go
  x/order/keeper/migrations.go
  x/order/keeper/shard_management.go
  x/order/migrations/v2/types/order.pb.go
  x/order/migrations/v2/types/shard.pb.go
  x/order/migrations/v3/migrations.go
  x/order/module.go
  x/sao/client/cli/tx_cancel.go
  x/sao/client/cli/tx_complete.go
  x/sao/client/cli/tx_migrate.go
  x/sao/client/cli/tx_ready.go
  x/sao/client/cli/tx_renew.go
  x/sao/client/cli/tx_store.go
  x/sao/client/cli/tx_terminate.go
  x/sao/client/cli/tx_updata_permission.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/timeout_management.go
  x/sao/types/expected_keepers.go
  x/sao/types/message_cancel.go
  x/sao/types/message_complete.go
  x/sao/types/message_migrate.go
  x/sao/types/message_ready.go
  x/sao/types/message_renew.go
  x/sao/types/message_store.go
  x/sao/types/message_terminate.go
  x/sao/types/message_updata_permission.go
Labels: C:x/order, C:CLI

add baseline
  config.yml
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/node/params.proto
  x/node/abci.go
  x/node/keeper/params.go
  x/node/types/params.go
  x/node/types/params.pb.go
Labels: none

node v2 type
  go.mod
  go.sum
  x/node/migrations/v2/types/params.pb.go
Labels: none

fix unitPrice, reject renew in store (order operation 3)
  CHANGELOG.md
  x/model/keeper/data_management.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
Labels: none

add RenewInfos feild in Shard type
  proto/sao/order/renew_info.proto
  proto/sao/order/shard.proto
  x/order/migrations/v3/migrations.go
  x/order/types/renew_info.pb.go
  x/order/types/shard.pb.go
Labels: C:x/order

add expiredShard type to handle expired shards
  CHANGELOG.md
  proto/sao/sao/expired_shard.proto
  proto/sao/sao/genesis.proto
  proto/sao/sao/query.proto
  x/sao/client/cli/query.go
  x/sao/client/cli/query_expired_shard.go
  x/sao/client/cli/query_expired_shard_test.go
  x/sao/genesis.go
  x/sao/genesis_test.go
  x/sao/keeper/expired_shard.go
  x/sao/keeper/expired_shard_test.go
  x/sao/keeper/grpc_query_expired_shard.go
  x/sao/keeper/grpc_query_expired_shard_test.go
  x/sao/types/expired_shard.pb.go
  x/sao/types/genesis.go
  x/sao/types/genesis.pb.go
  x/sao/types/genesis_test.go
  x/sao/types/key_expired_shard.go
  x/sao/types/query.pb.go
  x/sao/types/query.pb.gw.go
Labels: C:CLI

upgrade node param
  go.mod
  go.sum
  proto/sao/node/pool.proto
  x/node/abci.go
  x/node/keeper/migrations.go
  x/node/keeper/params.go
  x/node/keeper/shard_pledge_management.go
  x/node/migrations/v1/types/pool.pb.go
  x/node/migrations/v3/migrations.go
  x/node/module.go
  x/node/types/params.go
Labels: none

feat: storage pledge baseline (#48)
  config.yml
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/node/params.proto
  proto/sao/node/pool.proto
  x/node/abci.go
  x/node/keeper/migrations.go
  x/node/keeper/params.go
  x/node/keeper/shard_pledge_management.go
  x/node/migrations/v1/types/pool.pb.go
  x/node/migrations/v2/types/params.pb.go
  x/node/migrations/v3/migrations.go
  x/node/module.go
  x/node/types/params.go
Labels: none

shard expired management
  x/model/keeper/data_management.go
  x/model/types/expected_keepers.go
  x/node/keeper/shard_pledge_management.go
  x/sao/abci.go
  x/sao/keeper/expire_management.go
  x/sao/keeper/expired_shard.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_complete.go
  x/sao/types/expected_keepers.go
Labels: none

expired shards migration
  app/app.go
  docs/static/openapi.yml
  x/market/keeper/pool_management.go
  x/sao/keeper/expired_shard.go
  x/sao/keeper/keeper.go
  x/sao/keeper/migrations.go
  x/sao/migrations/v2/migrations.go
  x/sao/module.go
Labels: none

feat: expired shard (#49)
  CHANGELOG.md
  app/app.go
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/sao/expired_shard.proto
  proto/sao/sao/genesis.proto
  proto/sao/sao/query.proto
  x/market/keeper/pool_management.go
  x/model/keeper/data_management.go
  x/model/types/expected_keepers.go
  x/node/keeper/shard_pledge_management.go
  x/sao/abci.go
  x/sao/client/cli/query.go
  x/sao/client/cli/query_expired_shard.go
  x/sao/client/cli/query_expired_shard_test.go
  x/sao/genesis.go
  x/sao/genesis_test.go
  x/sao/keeper/expire_management.go
  x/sao/keeper/expired_shard.go
  x/sao/keeper/expired_shard_test.go
  x/sao/keeper/grpc_query_expired_shard.go
  x/sao/keeper/grpc_query_expired_shard_test.go
  x/sao/keeper/keeper.go
  x/sao/keeper/migrations.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_complete.go
  x/sao/migrations/v2/migrations.go
  x/sao/module.go
  x/sao/types/expected_keepers.go
  x/sao/types/expired_shard.pb.go
  x/sao/types/genesis.go
  x/sao/types/genesis.pb.go
  x/sao/types/genesis_test.go
  x/sao/types/key_expired_shard.go
  x/sao/types/query.pb.go
  x/sao/types/query.pb.gw.go
Labels: C:CLI

add renew duratoin in renew info, re-calculate meta duration
  go.mod
  go.sum
  proto/sao/order/renew_info.proto
  x/market/keeper/pool_management.go
  x/model/keeper/data_management.go
  x/order/types/renew_info.pb.go
Labels: C:x/order

new order in renew
  CHANGELOG.md
  config.yml
  docs/static/openapi.yml
  go.mod
  go.sum
  x/order/keeper/order_management.go
  x/sao/keeper/keeper.go
  x/sao/keeper/msg_server_renew.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

.github/labeler.yml:

"C:x/sao":
  - x/upgrade/**/*
"C:x/storage":
  - x/storage/**/*
"C:x/order":
  - x/order/**/*
"C:x/earn":
  - x/earn/**/*
"Type: Build":
  - Makefile
  - Dockerfile
"Type: CI":
  - .github/**/*.yml
  - .golangci.yml
"C:CLI":
  - x/*/client/**/*
"Type: ADR":
  - docs/architecture/**/*
