Repository SAONetwork/sao-consensus, changes with the labels that .github/labeler.yml gives for each.
All labels: C:x/sao, C:x/storage, C:x/order, C:x/earn, Type: Build, Type: CI, C:CLI, Type: ADR

.github/labeler.yml:

"C:x/sao":
  - x/upgrade/**/*
"C:x/storage":
  - x/storage/**/*
"C:x/order":
  - x/order/**/*
"C:x/earn":
  - x/earn/**/*
"Type: Build":
  - Makefile
  - Dockerfile
"Type: CI":
  - .github/**/*.yml
  - .golangci.yml
"C:CLI":
  - x/*/client/**/*
"Type: ADR":
  - docs/architecture/**/*

remove finished/terminated/canceled/expired order
  x/model/keeper/data_management.go
  x/model/keeper/expired_data.go
  x/model/types/expected_keepers.go
  x/order/keeper/order_management.go
Labels: C:x/order

remove useless network config file
  network/sapphire/config/app.toml
  network/sapphire/config/client.toml
  network/sapphire/config/config.toml
  network/sapphire/config/gentx/gentx-0f94ea88785673855ed8c604c3304fc174042f84.json
  network/sapphire/keyring-test/22c92f26d642342ecec7b5e43feb15eee7798444.address
  network/sapphire/keyring-test/alice.info
  network/sapphire/keyring-test/bob.info
  network/sapphire/keyring-test/de3a8b3b92373b11ed81a118318c21623d4a8798.address
  network/testnet0/config/genesis.json
Labels: none

remove useless network config file
  network/testnet0/config/genesis.json
Labels: none

fix: resset default denom
  config.yml
  go.mod
  go.sum
Labels: none

update network config file
  network/testnet0/config/config.toml
  network/testnet0/config/genesis.json
Labels: none

migrate for worker, add ignore list in random sp
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/market/keeper/pool_management.go
  x/model/abic.go
  x/model/keeper/data_management.go
  x/model/types/expected_keepers.go
  x/node/keeper/reputation.go
  x/order/abic.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_terminate.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

update network config file
  network/testnet0/config/client.toml
  network/testnet0/config/config.toml
  network/testnet0/config/genesis.json
Labels: none

fix pledge total storage issue
  x/node/keeper/shard_pledge_management.go
Labels: none

update chain id
  network/testnet0/config/app.toml
  network/testnet0/config/config.toml
Labels: none

fix abic issue
  app/app.go
  x/model/abic.go
  x/model/keeper/data_management.go
  x/model/types/expected_keepers.go
  x/order/abic.go
  x/order/keeper/keeper.go
  x/order/keeper/order_management.go
  x/order/types/expected_keepers.go
Labels: C:x/order

update client config
  network/testnet0/config/client.toml
Labels: none

recorrect file name
  x/model/abci.go
  x/order/abci.go
Labels: C:x/order

fix: remove model claim reward msg
  go.mod
  go.sum
  proto/sao/model/tx.proto
  x/model/client/cli/tx.go
  x/model/client/cli/tx_claim.go
  x/model/keeper/msg_server_claim.go
  x/model/module_simulation.go
  x/model/simulation/claim.go
  x/model/types/codec.go
  x/model/types/expected_keepers.go
  x/model/types/message_claim.go
  x/model/types/message_claim_test.go
  x/model/types/tx.pb.go
  x/order/keeper/shard_management.go
  x/sao/abci.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_complete_test.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/module.go
Labels: C:x/order, C:CLI

add seeds
  network/testnet0/config/config.toml
Labels: none

worker claim
  app/app.go
  x/market/keeper/pool_management.go
  x/node/keeper/keeper.go
  x/node/keeper/msg_server_claim_reward.go
  x/node/types/expected_keepers.go
Labels: none

fix market issue, add reward debug log
  testutil/keeper/order.go
  x/market/keeper/pool_management.go
  x/node/keeper/msg_server_claim_reward.go
  x/node/keeper/shard_pledge_management.go
  x/order/keeper/order_management.go
Labels: C:x/order

fix expired order issue
  x/order/module.go
Labels: C:x/order

add creator check for store/renew
  x/did/keeper/did_management.go
  x/did/keeper/msg_server_binding.go
  x/did/keeper/msg_server_update.go
  x/did/keeper/msg_server_update_payment_address.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/expected_keepers.go
Labels: none

refactor
  x/market/keeper/pool_management.go
  x/node/keeper/shard_pledge_management.go
  x/order/keeper/order_management.go
  x/order/types/keys.go
  x/sao/keeper/msg_server_renew.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

get orders by did owner and status
  docs/static/openapi.yml
  proto/sao/order/query.proto
  x/order/client/cli/query_order.go
  x/order/keeper/grpc_query_order.go
  x/order/types/query.pb.go
Labels: C:x/order, C:CLI

refund complete order gas
  x/sao/keeper/msg_server_complete.go
Labels: none

refund gas
  x/sao/keeper/msg_server_complete.go
Labels: none

add migrating status for order, uniform order status constant
  x/order/types/constants.go
  x/sao/keeper/msg_server_cancel.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_reject.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/constants.go
Labels: C:x/order

fix update meta
  x/model/keeper/data_management.go
Labels: none

renew duration issue
  x/model/keeper/order_finish.go
  x/sao/keeper/msg_server_renew.go
  x/sao/types/errors.go
Labels: none

create testnet
  network/testnet1/config/app.toml
  network/testnet1/config/client.toml
  network/testnet1/config/config.toml
  network/testnet1/config/genesis.json
Labels: none

remove useless files
  network/testnet0/config/app.toml
  network/testnet0/config/client.toml
  network/testnet0/config/config.toml
  network/testnet0/config/genesis.json
  network/testnet1/config/app.toml
  network/testnet1/config/client.toml
  network/testnet1/config/config.toml
  network/testnet1/config/genesis.json
Labels: none

v0.0.3
  ts-client-builder/package.json
Labels: none

fix shard status
  x/node/keeper/shard_management.go
Labels: none

Revert "refund gas"
  x/sao/keeper/msg_server_complete.go
Labels: none

handle deposit error, fix migrite re-deposit
  x/sao/keeper/msg_server_complete.go
Labels: none

change log level
  x/node/keeper/shard_pledge_management.go
  x/order/keeper/order_management.go
Labels: C:x/order

revert refund gas
  x/sao/keeper/msg_server_complete.go
Labels: none

change order status
  x/node/keeper/shard_management.go
  x/sao/keeper/msg_server_store.go
Labels: none

remove shards map
  app/app.go
  go.mod
  go.sum
  proto/sao/order/order.proto
  proto/sao/order/query.proto
  proto/sao/order/shard.proto
  x/market/keeper/keeper.go
  x/market/keeper/pool_management.go
  x/market/types/expected_keepers.go
  x/model/keeper/grpc_query_metadata.go
  x/model/types/expected_keepers.go
  x/node/keeper/keeper.go
  x/node/keeper/shard_pledge_management.go
  x/node/types/expected_keepers.go
  x/order/keeper/grpc_query_order.go
  x/order/keeper/order_management.go
  x/order/keeper/shard_management.go
  x/order/types/order.pb.go
  x/order/types/query.pb.go
  x/order/types/shard.pb.go
  x/sao/keeper/grpc_query_metadata.go
  x/sao/keeper/keeper.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_reject.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

remove shard in migrate & reject msg
  docs/static/openapi.yml
  go.mod
  go.sum
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_reject.go
Labels: none

return shard ids
  docs/static/openapi.yml
  proto/sao/order/order.proto
  x/order/keeper/grpc_query_order.go
  x/order/types/order.pb.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
Labels: C:x/order

change return map to list
  go.mod
  go.sum
  proto/sao/sao/tx.proto
  x/sao/keeper/msg_server_migrate.go
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/tx.pb.go
Labels: none

add sp in meta shard
  proto/sao/sao/shard_meta.proto
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/shard_meta.pb.go
Labels: none

generate openapi
  docs/static/openapi.yml
  go.mod
  go.sum
Labels: none
