Repository SAONetwork/sao-consensus, changes with the labels that .github/labeler.yml gives for each.
All labels: C:x/sao, C:x/storage, C:x/order, C:x/earn, Type: Build, Type: CI, C:CLI, Type: ADR

.github/labeler.yml:

"C:x/sao":
  - x/upgrade/**/*
"C:x/storage":
  - x/storage/**/*
"C:x/order":
  - x/order/**/*
"C:x/earn":
  - x/earn/**/*
"Type: Build":
  - Makefile
  - Dockerfile
"Type: CI":
  - .github/**/*.yml
  - .golangci.yml
"C:CLI":
  - x/*/client/**/*
"Type: ADR":
  - docs/architecture/**/*

add version to commits
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/model/metadata.proto
  testutil/keeper/earn.go
  testutil/keeper/model.go
  testutil/keeper/sao.go
  ts-client/saonetwork.sao.model/rest.ts
  ts-client/saonetwork.sao.model/types/model/metadata.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/model/keeper/data.go
  x/model/keeper/data_test.go
  x/model/types/metadata.pb.go
Labels: none

add version to commits
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/model/metadata.proto
  testutil/keeper/earn.go
  testutil/keeper/model.go
  testutil/keeper/sao.go
  ts-client/saonetwork.sao.model/rest.ts
  ts-client/saonetwork.sao.model/types/model/metadata.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/model/keeper/data.go
  x/model/keeper/data_test.go
  x/model/types/metadata.pb.go
Labels: none

add claim
  app/app.go
  testutil/keeper/earn.go
  testutil/keeper/sao.go
  ts-client/saonetwork.sao.sao/module.ts
  ts-client/saonetwork.sao.sao/registry.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/earn/keeper/keeper.go
  x/earn/keeper/msg_server_claim_reward.go
  x/earn/keeper/msg_server_claim_reward_test.go
  x/earn/types/expected_keepers.go
Labels: C:x/earn

fix reward bug
  app/app.go
  config.yml
  docs/static/openapi.yml
  proto/node/tx.proto
  ts-client/saonetwork.sao.node/module.ts
  ts-client/saonetwork.sao.node/registry.ts
  ts-client/saonetwork.sao.node/rest.ts
  ts-client/saonetwork.sao.node/types/node/tx.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/node/abci.go
  x/node/client/cli/query.go
  x/node/client/cli/tx.go
  x/node/client/cli/tx_claim_reward.go
  x/node/genesis.go
  x/node/keeper/keeper.go
  x/node/keeper/msg_server_claim_reward.go
  x/node/keeper/order.go
  x/node/keeper/params.go
  x/node/module.go
  x/node/module_simulation.go
  x/node/simulation/claim_reward.go
  x/node/types/codec.go
  x/node/types/genesis.go
  x/node/types/message_claim_reward.go
  x/node/types/message_claim_reward_test.go
  x/node/types/params.go
  x/node/types/tx.pb.go
Labels: C:CLI

fix build
  .gitignore
  vue/package.json
Labels: none

fix build
  .gitignore
  vue/package.json
Labels: none

new proposal
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/model/metadata.proto
  proto/sao/proposal.proto
  proto/sao/tx.proto
  ts-client/cosmos.base.tendermint.v1beta1/rest.ts
  ts-client/cosmos.staking.v1beta1/rest.ts
  ts-client/cosmos.tx.v1beta1/rest.ts
  ts-client/saonetwork.sao.model/rest.ts
  ts-client/saonetwork.sao.model/types/model/metadata.ts
  ts-client/saonetwork.sao.node/module.ts
  ts-client/saonetwork.sao.node/registry.ts
  ts-client/saonetwork.sao.node/rest.ts
  ts-client/saonetwork.sao.node/types/cosmos/base/v1beta1/coin.ts
  ts-client/saonetwork.sao.node/types/cosmos_proto/cosmos.ts
  ts-client/saonetwork.sao.node/types/node/pledge.ts
  ts-client/saonetwork.sao.node/types/node/pool.ts
  ts-client/saonetwork.sao.sao/module.ts
  ts-client/saonetwork.sao.sao/registry.ts
  ts-client/saonetwork.sao.sao/rest.ts
  ts-client/saonetwork.sao.sao/types.ts
  ts-client/saonetwork.sao.sao/types/sao/proposal.ts
  ts-client/saonetwork.sao.sao/types/sao/tx.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/model/keeper/data.go
  x/model/types/metadata.pb.go
  x/sao/client/cli/tx_store.go
  x/sao/keeper/msg_server_store.go
  x/sao/module_simulation.go
  x/sao/simulation/store.go
  x/sao/types/errors.go
  x/sao/types/message_store.go
  x/sao/types/message_store_test.go
  x/sao/types/proposal.pb.go
  x/sao/types/tx.pb.go
Labels: C:CLI

new proposal
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/model/metadata.proto
  proto/sao/proposal.proto
  proto/sao/tx.proto
  ts-client/cosmos.base.tendermint.v1beta1/rest.ts
  ts-client/cosmos.staking.v1beta1/rest.ts
  ts-client/cosmos.tx.v1beta1/rest.ts
  ts-client/saonetwork.sao.model/rest.ts
  ts-client/saonetwork.sao.model/types/model/metadata.ts
  ts-client/saonetwork.sao.node/module.ts
  ts-client/saonetwork.sao.node/registry.ts
  ts-client/saonetwork.sao.node/rest.ts
  ts-client/saonetwork.sao.node/types/cosmos/base/v1beta1/coin.ts
  ts-client/saonetwork.sao.node/types/cosmos_proto/cosmos.ts
  ts-client/saonetwork.sao.node/types/node/pledge.ts
  ts-client/saonetwork.sao.node/types/node/pool.ts
  ts-client/saonetwork.sao.sao/module.ts
  ts-client/saonetwork.sao.sao/registry.ts
  ts-client/saonetwork.sao.sao/rest.ts
  ts-client/saonetwork.sao.sao/types.ts
  ts-client/saonetwork.sao.sao/types/sao/proposal.ts
  ts-client/saonetwork.sao.sao/types/sao/tx.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/model/keeper/data.go
  x/model/types/metadata.pb.go
  x/sao/client/cli/tx_store.go
  x/sao/keeper/msg_server_store.go
  x/sao/module_simulation.go
  x/sao/simulation/store.go
  x/sao/types/errors.go
  x/sao/types/message_store.go
  x/sao/types/message_store_test.go
  x/sao/types/proposal.pb.go
  x/sao/types/tx.pb.go
Labels: C:CLI

store msg
  proto/sao/tx.proto
  x/sao/types/tx.pb.go
Labels: none

store msg
  proto/sao/tx.proto
  x/sao/types/tx.pb.go
Labels: none

jws signature
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/jws_signature.proto
  proto/sao/tx.proto
  ts-client/saonetwork.sao.sao/module.ts
  ts-client/saonetwork.sao.sao/registry.ts
  ts-client/saonetwork.sao.sao/rest.ts
  ts-client/saonetwork.sao.sao/types.ts
  ts-client/saonetwork.sao.sao/types/sao/jws_signature.ts
  ts-client/saonetwork.sao.sao/types/sao/tx.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/sao/client/cli/tx_store.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/jws_signature.pb.go
  x/sao/types/message_store.go
  x/sao/types/tx.pb.go
Labels: C:CLI

jws signature
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/jws_signature.proto
  proto/sao/tx.proto
  ts-client/saonetwork.sao.sao/module.ts
  ts-client/saonetwork.sao.sao/registry.ts
  ts-client/saonetwork.sao.sao/rest.ts
  ts-client/saonetwork.sao.sao/types.ts
  ts-client/saonetwork.sao.sao/types/sao/jws_signature.ts
  ts-client/saonetwork.sao.sao/types/sao/tx.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/sao/client/cli/tx_store.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/jws_signature.pb.go
  x/sao/types/message_store.go
  x/sao/types/tx.pb.go
Labels: C:CLI

fix sao-did cycle import dep issue
  go.mod
  go.sum
  x/sao/keeper/msg_server_store.go
Labels: none

fix sao-did cycle import dep issue
  go.mod
  go.sum
  x/sao/keeper/msg_server_store.go
Labels: none

json string decode issue
  x/sao/keeper/msg_server_store.go
Labels: none

json string decode issue
  x/sao/keeper/msg_server_store.go
Labels: none

fix did issue
  x/sao/keeper/msg_server_store.go
Labels: none

fix did issue
  x/sao/keeper/msg_server_store.go
Labels: none

remove cosmos-sdk import replace
  go.mod
Labels: none

remove cosmos-sdk import replace
  go.mod
Labels: none

support multiple multiaddrs
  x/node/keeper/msg_server_reset.go
Labels: none

support multiple multiaddrs
  x/node/keeper/msg_server_reset.go
Labels: none

support multiaddrs registion
  x/node/keeper/msg_server_reset.go
Labels: none

support multiaddrs registion
  x/node/keeper/msg_server_reset.go
Labels: none

upgrade ignite to 0.25.1
  config.yml
  go.mod
  go.sum
  testutil/keeper/earn.go
Labels: none

upgrade ignite to 0.25.1
  config.yml
  go.mod
  go.sum
  testutil/keeper/earn.go
Labels: none

fix new order bug
  app/app.go
  go.mod
  go.sum
  testutil/keeper/earn.go
Labels: none

fix new order bug
  app/app.go
  go.mod
  go.sum
  testutil/keeper/earn.go
Labels: none

update data
  app/app.go
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/model/metadata.proto
  proto/order/order.proto
  proto/sao/proposal.proto
  vue/src/store/generated/index.ts
  vue/src/store/generated/package.json
  vue/src/store/generated/saonetwork.sao.model/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.order/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/model/keeper/data.go
  x/model/types/metadata.pb.go
  x/order/keeper/keeper.go
  x/order/keeper/order_management.go
  x/order/types/expected_keepers.go
  x/order/types/order.pb.go
  x/sao/keeper/keeper.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/errors.go
  x/sao/types/expected_keepers.go
  x/sao/types/proposal.pb.go
Labels: C:x/order

update data
  app/app.go
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/model/metadata.proto
  proto/order/order.proto
  proto/sao/proposal.proto
  vue/src/store/generated/index.ts
  vue/src/store/generated/package.json
  vue/src/store/generated/saonetwork.sao.model/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.order/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/model/keeper/data.go
  x/model/types/metadata.pb.go
  x/order/keeper/keeper.go
  x/order/keeper/order_management.go
  x/order/types/expected_keepers.go
  x/order/types/order.pb.go
  x/sao/keeper/keeper.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/errors.go
  x/sao/types/expected_keepers.go
  x/sao/types/proposal.pb.go
Labels: C:x/order

fix order query issue
  Dockerfile
  x/order/client/cli/query.go
  x/sao/keeper/msg_server_store.go
Labels: C:x/order, Type: Build, C:CLI

fix order query issue
  Dockerfile
  x/order/client/cli/query.go
  x/sao/keeper/msg_server_store.go
Labels: C:x/order, Type: Build, C:CLI

add type BindingProof
  proto/sao/did/binding_proof.proto
  x/did/types/binding_proof.pb.go
Labels: none

add type BindingProof
  proto/sao/did/binding_proof.proto
  x/did/types/binding_proof.pb.go
Labels: none

add map DidBindingProofs
  docs/static/openapi.yml
  proto/sao/did/did_binding_proofs.proto
  proto/sao/did/genesis.proto
  proto/sao/did/query.proto
  x/did/client/cli/query.go
  x/did/client/cli/query_did_binding_proofs.go
  x/did/client/cli/query_did_binding_proofs_test.go
  x/did/genesis.go
  x/did/genesis_test.go
  x/did/keeper/did_binding_proofs.go
  x/did/keeper/did_binding_proofs_test.go
  x/did/keeper/grpc_query_did_binding_proofs.go
  x/did/keeper/grpc_query_did_binding_proofs_test.go
  x/did/types/did_binding_proofs.pb.go
  x/did/types/genesis.go
  x/did/types/genesis.pb.go
  x/did/types/genesis_test.go
  x/did/types/key_did_binding_proofs.go
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
Labels: C:CLI

add map DidBindingProofs
  docs/static/openapi.yml
  proto/sao/did/did_binding_proofs.proto
  proto/sao/did/genesis.proto
  proto/sao/did/query.proto
  x/did/client/cli/query.go
  x/did/client/cli/query_did_binding_proofs.go
  x/did/client/cli/query_did_binding_proofs_test.go
  x/did/genesis.go
  x/did/genesis_test.go
  x/did/keeper/did_binding_proofs.go
  x/did/keeper/did_binding_proofs_test.go
  x/did/keeper/grpc_query_did_binding_proofs.go
  x/did/keeper/grpc_query_did_binding_proofs_test.go
  x/did/types/did_binding_proofs.pb.go
  x/did/types/genesis.go
  x/did/types/genesis.pb.go
  x/did/types/genesis_test.go
  x/did/types/key_did_binding_proofs.go
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
Labels: C:CLI

add type Binding
  proto/sao/did/binding.proto
  x/did/types/binding.pb.go
Labels: none

add type Binding
  proto/sao/did/binding.proto
  x/did/types/binding.pb.go
Labels: none

add message AddBinding GetBinding
  docs/static/openapi.yml
  proto/sao/did/tx.proto
  x/did/client/cli/tx.go
  x/did/client/cli/tx_add_binding.go
  x/did/client/cli/tx_get_binding.go
  x/did/keeper/msg_server_add_binding.go
  x/did/keeper/msg_server_get_binding.go
  x/did/module_simulation.go
  x/did/simulation/add_binding.go
  x/did/simulation/get_binding.go
  x/did/types/codec.go
  x/did/types/message_add_binding.go
  x/did/types/message_add_binding_test.go
  x/did/types/message_get_binding.go
  x/did/types/message_get_binding_test.go
  x/did/types/tx.pb.go
Labels: C:CLI

add message AddBinding GetBinding
  docs/static/openapi.yml
  proto/sao/did/tx.proto
  x/did/client/cli/tx.go
  x/did/client/cli/tx_add_binding.go
  x/did/client/cli/tx_get_binding.go
  x/did/keeper/msg_server_add_binding.go
  x/did/keeper/msg_server_get_binding.go
  x/did/module_simulation.go
  x/did/simulation/add_binding.go
  x/did/simulation/get_binding.go
  x/did/types/codec.go
  x/did/types/message_add_binding.go
  x/did/types/message_add_binding_test.go
  x/did/types/message_get_binding.go
  x/did/types/message_get_binding_test.go
  x/did/types/tx.pb.go
Labels: C:CLI
