Repository SAONetwork/sao-consensus, changes with the labels that .github/labeler.yml gives for each.
All labels: C:x/sao, C:x/storage, C:x/order, C:x/earn, Type: Build, Type: CI, C:CLI, Type: ADR

.github/labeler.yml:

"C:x/sao":
  - x/upgrade/**/*
"C:x/storage":
  - x/storage/**/*
"C:x/order":
  - x/order/**/*
"C:x/earn":
  - x/earn/**/*
"Type: Build":
  - Makefile
  - Dockerfile
"Type: CI":
  - .github/**/*.yml
  - .golangci.yml
"C:CLI":
  - x/*/client/**/*
"Type: ADR":
  - docs/architecture/**/*

fix signature issue
  x/sao/keeper/grpc_query_metadata.go
Labels: none

fix signature issue
  x/sao/keeper/grpc_query_metadata.go
Labels: none

add termintate permission check
  go.mod
  proto/sao/sao/terminate_proposal.proto
  proto/sao/sao/tx.proto
  x/sao/client/cli/tx_terminate.go
  x/sao/keeper/msg_server_terminate.go
  x/sao/types/message_terminate.go
  x/sao/types/terminate_proposal.pb.go
  x/sao/types/tx.pb.go
Labels: C:CLI

add termintate permission check
  go.mod
  proto/sao/sao/terminate_proposal.proto
  proto/sao/sao/tx.proto
  x/sao/client/cli/tx_terminate.go
  x/sao/keeper/msg_server_terminate.go
  x/sao/types/message_terminate.go
  x/sao/types/terminate_proposal.pb.go
  x/sao/types/tx.pb.go
Labels: C:CLI

check read write dids in metadata update
  x/model/keeper/data_management.go
  x/sao/keeper/grpc_query_metadata.go
Labels: none

check read write dids in metadata update
  x/model/keeper/data_management.go
  x/sao/keeper/grpc_query_metadata.go
Labels: none

update go.mod
  go.mod
  go.sum
Labels: none

update go.mod
  go.mod
  go.sum
Labels: none

add termintate permission check
  proto/sao/sao/terminate_proposal.proto
  x/sao/keeper/msg_server_terminate.go
  x/sao/types/terminate_proposal.pb.go
Labels: none

add termintate permission check
  proto/sao/sao/terminate_proposal.proto
  x/sao/keeper/msg_server_terminate.go
  x/sao/types/terminate_proposal.pb.go
Labels: none

update query param
  proto/sao/sao/query_proposal.proto
  x/sao/keeper/grpc_query_metadata.go
  x/sao/types/query_proposal.pb.go
Labels: none

update query param
  proto/sao/sao/query_proposal.proto
  x/sao/keeper/grpc_query_metadata.go
  x/sao/types/query_proposal.pb.go
Labels: none

add did query ValidateDid
  docs/static/openapi.yml
  proto/sao/did/query.proto
  x/did/client/cli/query.go
  x/did/client/cli/query_validate_did.go
  x/did/keeper/grpc_query_validate_did.go
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
Labels: C:CLI

validate did for sao update permission
  x/did/keeper/did_management.go
  x/did/keeper/grpc_query_validate_did.go
  x/sao/keeper/msg_server_updata_permission.go
  x/sao/types/expected_keepers.go
Labels: none

fix module conflicts
  go.mod
  x/sao/keeper/grpc_query_metadata.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/msg_server_terminate.go
  x/sao/keeper/msg_server_updata_permission.go
Labels: none

add block height query api
  docs/static/openapi.yml
  go.mod
  proto/sao/sao/query.proto
  vue/src/store/generated/saonetwork.sao.did/index.ts
  vue/src/store/generated/saonetwork.sao.node/index.ts
  vue/src/store/generated/saonetwork.sao.sao/index.ts
  x/sao/client/cli/query.go
  x/sao/client/cli/query_latesthight.go
  x/sao/keeper/grpc_query_latesthight.go
  x/sao/keeper/keeper.go
  x/sao/keeper/msg_server_complete.go
  x/sao/keeper/msg_server_test.go
  x/sao/types/query.pb.go
  x/sao/types/query.pb.gw.go
Labels: C:CLI

check zero shard size
  go.mod
  go.sum
  x/model/keeper/data_management.go
  x/sao/keeper/msg_server_complete.go
  x/sao/types/errors.go
Labels: none

check order pledge
  x/sao/keeper/msg_server_complete.go
Labels: none

add pledge error code
  x/sao/keeper/msg_server_complete.go
  x/sao/types/errors.go
Labels: none

add block reward test
  x/node/keeper/shard_pledge_management.go
Labels: none

update ts client builder
  ts-client-builder/build.sh
  ts-client-builder/entry.ts
  ts-client-builder/package.json
  ts-client-builder/yarn.lock
Labels: none

fix shard issue
  x/node/keeper/shard_pledge_management.go
  x/sao/keeper/msg_server_complete.go
  x/sao/types/keys.go
Labels: none

update ts client builder
  ts-client-builder/entry.ts
Labels: none

fix shard issue
  x/sao/keeper/msg_server_complete.go
Labels: none

update ts client builder
  ts-client-builder/entry.ts
Labels: none

event debug
  x/order/keeper/order_management.go
Labels: C:x/order

event debug
  x/order/keeper/order_management.go
Labels: C:x/order

update ts client builder
  ts-client-builder/entry.ts
Labels: none

enhance order response
  go.mod
  proto/sao/sao/tx.proto
  x/sao/keeper/msg_server_ready.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/tx.pb.go
Labels: none

update sp select logic
  x/node/keeper/node.go
  x/node/keeper/reputation.go
Labels: none

update sp select logic
  x/node/keeper/reputation.go
Labels: none

update sp select logic
  x/node/keeper/node.go
  x/node/keeper/reputation.go
Labels: none

update sp select logic
  x/node/keeper/node.go
Labels: none

update sp select logic
  x/node/keeper/reputation.go
Labels: none

update sp select logic
  x/node/keeper/reputation.go
Labels: none

update sp select logic
  x/node/keeper/reputation.go
Labels: none

update shard notify logic
  x/order/keeper/order_management.go
  x/sao/keeper/msg_server_renew.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

update shard notify logic
  x/node/keeper/shard_pledge_management.go
Labels: none

fix test case errors
  x/market/genesis_test.go
  x/market/types/genesis_test.go
  x/order/keeper/grpc_query_order_test.go
  x/order/keeper/grpc_query_shard_test.go
  x/order/keeper/msg_server_test.go
  x/order/keeper/order_test.go
  x/sao/genesis_test.go
  x/sao/types/genesis_test.go
  x/sao/types/message_store_test.go
Labels: C:x/order

fix test case errors
  go.mod
Labels: none
