Repository SAONetwork/sao-consensus, changes with the labels that .github/labeler.yml gives for each.
All labels: C:x/sao, C:x/storage, C:x/order, C:x/earn, Type: Build, Type: CI, C:CLI, Type: ADR

refactor: super node logic (#76)
  app/app.go
  app/upgrades/v0_1_8/upgrades.go
  proto/sao/node/params.proto
  proto/sao/node/tx.proto
  x/node/keeper/hooks.go
  x/node/keeper/msg_server_add_vstorage.go
  x/node/keeper/msg_server_remove_vstorage.go
  x/node/keeper/msg_server_reset.go
  x/node/keeper/params.go
  x/node/keeper/super.go
  x/node/types/errors.go
  x/node/types/expected_keepers.go
  x/node/types/params.go
  x/node/types/params.pb.go
  x/node/types/tx.pb.go
  x/node/types/types.go
Labels: none

fix error code conflict
  CHANGELOG.md
  x/node/types/errors.go
Labels: none

add offline trigger height to node params
  app/upgrades/v0_1_8/upgrades.go
  config.yml
  docs/static/openapi.yml
  proto/sao/node/params.proto
  x/node/abci.go
  x/node/keeper/params.go
  x/node/types/params.go
  x/node/types/params.pb.go
Labels: none

feat: add offline trigger height to node params (#81)
  app/upgrades/v0_1_8/upgrades.go
  config.yml
  docs/static/openapi.yml
  proto/sao/node/params.proto
  x/node/abci.go
  x/node/keeper/params.go
  x/node/types/params.go
  x/node/types/params.pb.go
Labels: none

show node in text
  go.mod
  go.sum
  proto/sao/node/node.proto
  proto/sao/node/query.proto
  x/model/types/constants.go
  x/node/client/cli/query.go
  x/node/client/cli/query_node.go
  x/node/types/node.pb.go
  x/node/types/query.pb.go
  x/node/types/types.go
  x/order/types/constants.go
Labels: C:x/order, C:CLI

show metadata & order in text
  go.mod
  go.sum
  proto/sao/model/metadata.proto
  proto/sao/model/query.proto
  proto/sao/order/order.proto
  proto/sao/order/query.proto
  proto/sao/order/shard.proto
  x/model/client/cli/query.go
  x/model/client/cli/query_metadata.go
  x/model/types/metadata.pb.go
  x/model/types/query.pb.go
  x/order/client/cli/query.go
  x/order/client/cli/query_order.go
  x/order/client/cli/query_shard.go
  x/order/types/order.pb.go
  x/order/types/query.pb.go
  x/order/types/shard.pb.go
Labels: C:x/order, C:CLI

add payment did field in store proposal, payment gateway can pay for storage on behalf of the user
  CHANGELOG.md
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/sao/proposal.proto
  x/order/keeper/order_management.go
  x/sao/keeper/msg_server_store.go
  x/sao/types/errors.go
  x/sao/types/proposal.pb.go
Labels: C:x/order

scaffold did balances
  docs/static/openapi.yml
  proto/sao/did/did_balances.proto
  proto/sao/did/genesis.proto
  proto/sao/did/query.proto
  x/did/client/cli/query.go
  x/did/client/cli/query_did_balances.go
  x/did/client/cli/query_did_balances_test.go
  x/did/genesis.go
  x/did/genesis_test.go
  x/did/keeper/did_balances.go
  x/did/keeper/did_balances_test.go
  x/did/keeper/grpc_query_did_balances.go
  x/did/keeper/grpc_query_did_balances_test.go
  x/did/types/did_balances.pb.go
  x/did/types/genesis.go
  x/did/types/genesis.pb.go
  x/did/types/genesis_test.go
  x/did/types/key_did_balances.go
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
Labels: C:CLI

remove first binding creator check
  x/did/keeper/msg_server_binding.go
Labels: none

enable sid with no payment address , and use DidBalances to store refund amount
  app/app.go
  testutil/keeper/did.go
  x/did/keeper/did_management.go
  x/did/keeper/keeper.go
  x/did/types/expected_keepers.go
  x/order/keeper/order_management.go
  x/order/types/expected_keepers.go
  x/sao/types/expected_keepers.go
Labels: C:x/order

refund to payment did
  go.mod
  go.sum
  proto/sao/order/order.proto
  x/order/keeper/order_management.go
  x/order/types/order.pb.go
  x/sao/keeper/msg_server_store.go
  x/sao/keeper/timeout_management.go
Labels: C:x/order

fix store module accout
  docs/static/openapi.yml
  go.mod
  go.sum
  x/sao/keeper/msg_server_store.go
Labels: none

publish ts-client
  go.mod
  go.sum
  ts-client-builder/package.json
  ts-client-builder/yarn.lock
Labels: none

query orders status
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/order/query.proto
  x/node/keeper/super.go
  x/order/client/cli/query.go
  x/order/client/cli/query_orders_status.go
  x/order/keeper/grpc_query_orders_status.go
  x/order/types/query.pb.go
  x/order/types/query.pb.gw.go
Labels: C:x/order, C:CLI

query metas status
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/sao/model/query.proto
  x/model/client/cli/query.go
  x/model/client/cli/query_meta_status.go
  x/model/keeper/grpc_query_meta_status.go
  x/model/types/query.pb.go
  x/model/types/query.pb.gw.go
Labels: C:CLI

add upgrade v0.1.9
  app/app.go
  app/upgrades/v0_1_9/constants.go
  app/upgrades/v0_1_9/upgrades.go
Labels: none

.github/labeler.yml:

"C:x/sao":
  - x/upgrade/**/*
"C:x/storage":
  - x/storage/**/*
"C:x/order":
  - x/order/**/*
"C:x/earn":
  - x/earn/**/*
"Type: Build":
  - Makefile
  - Dockerfile
"Type: CI":
  - .github/**/*.yml
  - .golangci.yml
"C:CLI":
  - x/*/client/**/*
"Type: ADR":
  - docs/architecture/**/*
